[2016-02-11 12:27] cosmicog opened #421 "dwa_local_planner is struggling as shortening path at the near to end of the path"
After updating ros indigo packages from ubuntu repositories today, `dwa_local_planner` is trying to escape infinitely with struggling with little movements at near to end of the path, changing `path_distance_bias` and `goal_distance_bias` parameters doesn't make sense:

[Screenshot at struggling](http://answers.ros.org/upfiles/14551904439069127.png)
`[ INFO] [1455190327.742058584, 6646.566000000]:

[2016-02-12 15:03] mkoledoye commented on #421
@orhangazi44 To be sure I understand you correctly, the robot makes small rotational movements just before reaching the target goal? If that's the case, trying increasing the controller_frequency of the planner. if that does not fix it, try setting the xy_goal_tolerance and yaw_goal_tolerance to their defaults. Had the same problem of recent, and these happened to be my fix.

[2016-02-12 17:03] cosmicog commented on #421
Thank you bro!!!! Doing both things helped. But I think It's still an issue. I setted `controller_frequency` to `1.0`.  Because 5, 10 not worked well. And setted tolerance parameters to default. Now it tries different paths and reaching the goal. Thank you again.

[2016-02-13 22:54] mikeferguson commented on #328
not really actionable, probably more of a ROS answers question

[2016-02-13 22:54] #328 closed, assigned to nobody

[2016-02-13 22:56] mikeferguson commented on #3
seems there is a consensus that we don't want to implement this feature -- and the patch has also been lost when kforge was shutdown

[2016-02-13 22:56] #3 closed, assigned to nobody

[2016-02-13 22:58] mikeferguson commented on #142
original requester chose not to open source implementation

[2016-02-13 22:58] #142 closed, assigned to nobody

[2016-02-13 22:58] mikeferguson commented on #404
This is really a duplicate of https://github.com/ros-planning/navigation/issues/379

[2016-02-13 22:58] #404 closed, assigned to nobody

[2016-02-13 23:02] mikeferguson commented on #379
@DLu we're interested in this recently -- we actually just started using the non-trinary option, but as you say, it is not documented, and we'd actually prefer to have the raw version. One of my guys will probably create a PR next week based on an updated version of your branch.

[2016-02-14 00:44] mikeferguson commented on #100
should be fixed by https://github.com/ros-planning/navigation/pull/282

[2016-02-14 00:44] #100 closed, assigned to nobody

[2016-02-16 22:33] sloretz commented on #409
I would be fine with just the documentation being updated, and I think I see a use for this service.

[code]

Imagine a robot with an obstacle layer on the global costmap navigates into a tight U shaped space, seeing a dog block the path behind it before moving around the bend. Later after the dog has moved away, the robot is commanded to move to a goal outside of the U. The global planner will fa

[2016-02-17 15:37] sloretz commented on #409
Ooops looks like I misunderstood the documentation. I see now that clear unknown space clears cells with the cost value "uknown". I expected it would remove cells that the robot couldn't see directly, meaning their current costs were unknown.

Is there an existing recovery plugin that can clear costmap cells that haven't been updated in a while?

I think with a documentation update this issue can

[2016-02-22 01:18] corot opened #423 "Parameter gui_publish_rate is never used"
However, it is documented in the wiki and present in example launch files and dynamic configuration.

Conversely, skip parameters are used but not documented on wiki nor in example launch files:
- do_beamskip
- beam_skip_distance
- beam_skip_threshold
- beam_skip_error_threshold_

I would also remove the trailing '_' on beam_skip_error_threshold_

[2016-02-22 09:59] stwirth opened #424 "tf lookup timing issues in AmclNode::handleInitialPoseMessage // ("Failed to transform initial pose in time")"
In `AmclNode::handleInitialPoseMessage` (see [here](https://github.com/ros-planning/navigation/blob/1f970f25ab1e6689c4c9d841e95ecdee65d0803d/amcl/src/amcl_node.cpp#L1328-L1343)), the tf lookup uses `ros::Time::now()` to get the robot motion since the initial pose's time stamp.
Within this function, `tf2::BufferCore::lookupTransform(base_frame_id_, global_frame_id_, ros::Time::now())` is called. Th

[2016-02-22 11:01] stwirth commented on #424
Additionally, I think the lookup should use `odom_frame_id_` as "fixed frame" argument to get the relative motion.

[2016-02-22 20:29] stwirth commented on #424
After working on this a little I think [this multiplication](https://github.com/ros-planning/navigation/blob/1f970f25ab1e6689c4c9d841e95ecdee65d0803d/amcl/src/amcl_node.cpp#L1347) is the wrong way around. `tx_odom` is the delta the robot moved between the stamp of the incoming intial pose message and `ros::Time::now()`. It should be multiplied with `pose_old` from the right.

[2016-02-22 23:52] mikeferguson commented on #423
the undocumented parameters were added in https://github.com/ros-planning/navigation/commit/3dbecae2c887d0e2eb73b6b26f5f455eb57bda06, not sure what happened to gui_publish_rate....

[2016-02-26 23:28] #424 closed, assigned to nobody

[2016-02-28 06:45] positron96 commented on #259
Hello. May I ask how to pause and set goal again if I use move_base_simple interface of move_base?

[2016-02-28 18:39] mikeferguson commented on #259
The "simple" interface is just a topic, you should use the regular move_group interface, which is a ROS action, see the ROS actionlib client documentation on how to send and cancel goals

[2016-03-03 03:16] DLu commented on #409
I started looking into your use case last year, but didn't write too robust of a solution for it. https://github.com/DLu/decaying_obstacle_layer

You should be able to clear the obstacle with a clear_costmap with distance = 0.

I've updated the documentation to reflect the fact that the service was removed.

[2016-03-03 03:16] #409 closed, assigned to nobody

[2016-03-03 06:26] mikeferguson commented on #341
Just noticed this still open, several of these were fixed in previous work, the remaining ones were determined to probably be noise due to 80-bit floats optimizations and valgrind

[2016-03-03 06:26] #341 closed, assigned to mikeferguson

[2016-03-04 22:22] mirzashah opened #430 "Nav stack release 1.12.6 breaks repopulation of static layer on costmap clear"
@alexhenning @mikeferguson

The changes in 1.12.6 created a regression for us. When the costmap is cleared using the clear costmap service exposed by move_base, the static layer does not repopulate with the current map. This resulted in some interesting behavior where the robot wants to drive through walls.

https://github.com/ros-planning/navigation/commit/31accb2e35f0506c3dae08315da1583bb6761403

[2016-03-09 11:48] RaymondKYLiu opened #431 "static_layer won't requesting the map when calling clear_costmaps service"
When calling clear_costmaps service from move_base, the static_layer will call reset() -> onInitialize().
Previous version it will subscribe "/map" topic to request the map again.

Because the condition block it.
if (map_sub_.getTopic() != ros::names::resolve(map_topic))

[2016-03-09 11:52] #431 closed, assigned to nobody

[2016-03-09 11:53] RaymondKYLiu commented on #430
This condition block it.
`if (map_sub_.getTopic() != ros::names::resolve(map_topic))`

[2016-03-12 02:13] ssrselvamraju opened #432 "Global Costmap is not static anymore (although static is enabled)"
After the upgrade to Navstack 1.12.7 from 1.12.4, we're now experiencing the following issues:
1. In 1.12.4 I didn't have to specify the width and height of the global costmap, and it was automatically picking up to be the size of the actual "map". After the 1.12.7 upgrade seems like I'm having to set the height and width (discovered this, when the global costmap was defaulting to size of 10x10 af

[2016-03-12 02:21] mirzashah commented on #432
I believe you're experiencing same issue I had #430 . I fell back to 1.12.5, the code breaks in 1.12.6

[2016-03-12 02:34] mikeferguson commented on #432
Do either of you have a link to your navigation configuration? We're not seeing this issue in house, so I'm hoping to narrow down what you might be using that is different from our config.

[2016-03-12 02:41] mikeferguson commented on #432
Also, a trace of the ROSOUT would be useful, in particular, if you see "Requesting the map..." or "Received a map.."

[2016-03-15 00:17] ssrselvamraju commented on #432
$ cat costmap_common_params.yaml

[code]

$ cat global_costmap_params.yaml

[code]

$ cat local_costmap_params.yaml

[code]

[2016-03-15 00:59] ssrselvamraju commented on #432
@mikeferguson  A few traces of the logs:

First some grep:

[code]

Here are some traces from the _move_base_delay-60-stdout.log_:

[code]

...

[code]

...

[code]

I can provide the full move-base log if needed. It's pretty big though.

[2016-03-15 13:32] cosmicog commented on #421
Closing, because there is not enough information, I'll open new one.

[2016-03-15 13:32] #421 closed, assigned to nobody

[2016-03-15 13:56] cosmicog opened #433 "The dwa_local_planner is trying to go to global path's back parts"
Here is [video](https://youtu.be/eV6zFFAtSec), I'm using **`dwa_local_planner`** and it confuses at near to goal position and some other locations. Especially, when goal point's X and footprint center's X are close, it always confuses.

Here is Planner's other crazy movement [video](https://youtu.be/u8bxz1sG5lo).

**`rqt_console`** says at struggling:

[code]

I've replaced footprint to square but

[2016-03-18 01:56] ssrselvamraju commented on #432
Agree to @mirzashah's comment. The issue is found in 1.12.6+ and works fine until 1.12.5.

[2016-03-30 14:09] cosmicog commented on #433
I found temporal solution when I was poking `rqt_reconfigure` :)

Changed `/move_base/planner_frequency` from `0.0` to `10.0`.

Now It doesn't stuck with its new plan. But I think It's still an issue.

[2016-04-01 04:00] hu7241 commented on #433
Which build is your dwa, 1.13?

[2016-04-01 06:13] cosmicog commented on #433
No, 1.12.7, indigo, but I've tried 1.13.1 too.

[2016-04-05 17:40] corot commented on #327
@ex-ratt is right, so  I just do what he says, set the footprint on dynamic reconfigure, and it works for me. However, this is a simplistic fix, without deep study of the problem, so please give it a try before merging!

[2016-04-06 12:24] mehranaziz opened #436 ""catkin_make" error "invoking error -j4 -l4""
i just download the package and in catkin_ws after catkin_make i got this error

[code]

[2016-04-06 13:54] DLu commented on #436
Please open a question on answers.ros.org to resolve this issue.

[2016-04-06 13:54] #436 closed, assigned to nobody

[2016-04-08 22:52] spmaniato opened #437 "[Costmap2DROS] movementCB's hardcoded timer period too short for low-end systems"
@DLu, @mikeferguson, I believe that the hardcoded period (0.1 sec) of `movementCB`'s timer ([costmap_2d_ros.cpp#L160](https://github.com/ros-planning/navigation/blob/jade-devel/costmap_2d/src/costmap_2d_ros.cpp#L160)):

[code]

might be too short for very low-end systems, such as many Single-Board Computers.

**TL;DR**: Would a pull request that makes this timer's period parametrizable make sense?

[2016-04-11 17:32] madsciencetist opened #438 "NavFn overflow check allows gradient extrapolation"
In navfn.cpp calcPath(), the gradient is bilinearly interpolated between the cells (x,y), (x+1,y), (x,y+1), and (x+1,y+1). To stay within this range, (dx,dy) must be bounded between 0 and 1. The overflow check, however, bounds them between -1 and 1, meaning dx can move by two cells before the cell index increments once. The result is that negative (dx,dy) values cause gradient extrapolation, which

[2016-04-11 17:56] madsciencetist commented on #438
Also applies to global_planner/gradient_path.cpp

[2016-04-13 16:02] corot opened #439 "Update costmap layers wikis; they date from hydro and many parameters are not documented"
e.g. the following static layer parameters are not documented:
- first_map_only
- subscribe_to_updates
- track_unknown_space
- use_maximum
- trinary_costmap

[2016-04-13 16:02] corot commented on #430
Same problem for me. An easy workaround is to set first_map_only static layer parameter as true. This makes the static layer keep a copy of the first map received and use it on resets. It shutdowns the map subscriber to ensure it only uses this stored copy.

This parameter (and many others) is not documented on the wiki since current layer pages date from hydro! (I opened an issue #439)

[2016-04-14 09:14] AlexReimann opened #441 "Move locks from move_base into individual planners"
During the [execute cycle move base locks the local costmap in the controlling state](https://github.com/ros-planning/navigation/blob/ada542feae238cc85eeab9944cc39e37eee93481/move_base/src/move_base.cpp#L879) without actually accessing the costmap.

What's the reasoning behind this?

It seems kind of to be done in the case the local planner wants to do something with the local costmap in the compu

[2016-04-14 09:14] AlexReimann commented on #441
fyi @stonier

[2016-04-22 22:00] brianzhan opened #443 "Installation for ROS Indigo"
Hi, it would be great for future users if installation instructions could be posted for ROS indigo users. The build is not smooth (for example, rosdep, the first step, doesn't work), and the sudo apt-get for this is broken

[2016-04-24 19:33] DLu commented on #443
Hi @brianzhan. Please open an answers.ros.org post and include
- What OS you're running
- Which installation instructions you are following
- Specific error messages.

Thanks. If there is a bigger problem, we can reopen the ticket and take action from there.

[2016-04-24 19:33] #443 closed, assigned to nobody

[2016-04-24 20:55] spmaniato commented on #437
Addressed in #440, which has been merged. Thanks @DLu 😄

[2016-04-24 20:55] #437 closed, assigned to nobody

[2016-04-25 17:15] alexhenning commented on #432
@ssrselvamraju Could you post the full output of `rosparam get /move_base`

[2016-04-25 17:15] alexhenning commented on #430
@mirzashah Could you post the full output of `rosparam get /move_base`

[2016-04-26 06:04] mirzashah commented on #430
@alexhenning is it ok if the output comes from 1.12.5 or do you need it specifically from 1.12.6?

[2016-04-27 02:07] ssrselvamraju commented on #432
@alexhenning Here you go:

[code]

[2016-04-27 07:16] corot commented on #90
Another worse case of duplicated parameters: base local planner uses both max/min_vel_theta and max/min_vel_x. So you must set both!
:+1: to keep only max/min_vel_x.  Would be great to do it before Kinetic release

[2016-04-28 19:03] alexhenning commented on #430
@mirzashah I assume you're using the same parameters with both? If the output differs, then that should be unrelated to the source change.

[2016-04-28 20:59] alexhenning commented on #432
@ssrselvamraju ran the following launch file on one of our robots with 1.12.6 installed from debs and a source checkout of 1.12.7 and I was unable to reproduce it. What are you using to serve the map? Is it possible that something has changed with that? The best way to move forward be to use a source check and run [git bisect](https://git-scm.com/docs/git-bisect) to try to isolate the commit that

[2016-04-29 18:43] ssrselvamraju commented on #432
@alexhenning Can you give me some information on how long you ran the above test for?

Also we use map_server to serve the map:
`
 <node name="map_server" pkg="map_server" type="map_server" args="$(find robot_2dnav)/map.pgm 0.05"/>`

The issue usually appears after several hours of the robot running. Opening closing rviz multiple times, and viewing the 'global_costmap' on rviz. I usually can see t

[2016-04-29 19:04] alexhenning commented on #432
@ssrselvamraju I only ran with your config for half an hour. We've had many robots running with our config for long periods of time without noticing a similar problem, which would continue to hint that it might be a parameter interaction. One thing that we could try to speed up reproduction is to create a launch file that launches move_base, map_server, static tf publisher, and a custom node that

[2016-05-04 21:09] alexhenning commented on #432
@ssrselvamraju https://github.com/ros-planning/navigation/pull/446 should fix this bug and will be in the next release. Can you verify that you can't reproduce the problem with it?

[2016-05-04 21:10] alexhenning commented on #430
@mirzashah https://github.com/ros-planning/navigation/pull/446 should fix this bug and be in the next release. Can you verify that it resolves your problem.

[2016-05-06 00:55] mikeferguson opened #456 "kinetic-devel does not build on 16.04"
See http://build.ros.org/job/Kdev__navigation__ubuntu_xenial_amd64/1/console

Relevant lines

[code]

Appears to be related to VTK6 (by way of PCL), maybe? @tfoote -- I know you guys are blocked by navigation for turtlebot on Kinetic -- have  you seen this before?

[2016-05-06 02:06] tfoote commented on #456
Yeah, that's odd It is available from libproj-dev http://packages.ubuntu.com/xenial/amd64/libproj-dev/filelist

Some upstream package is not exporting the dependency correctly.

@jacquelinekay I believe you were dealing with a package that previously included libproj internally and then started using the upstream package.

[2016-05-06 02:10] tfoote commented on #456
Yeah, I found a commit here: https://github.com/ros/rosdistro/pull/11233 https://github.com/ros-perception/perception_pcl/commit/d4ccc0a2949a26782632125f4c64b25963fb8574

Re:
https://github.com/ros-perception/perception_pcl/blob/kinetic-devel/pcl_ros/package.xml#L42-L43

It needs an exec depend on the package too since the package provides a shared lib.

[2016-05-06 07:46] tfoote commented on #456
Following up a little more it looks like it's actually a bug upstream: https://bugs.launchpad.net/ubuntu/+source/vtk6/+bug/1573234 via https://github.com/ros-perception/perception_pcl/issues/119

The quickest fix would be to manually add that rosdep as a build depend (and probably a run depend for downstream users convenience) with a comment to remove when upstream is fixed. I'm also going to sugg

[2016-05-06 15:51] jackieokay commented on #456
there was a conversation about this here: https://github.com/ros-perception/perception_pcl/pull/123#issuecomment-217394576

and a pending pull request to fix it here:

https://github.com/ros-perception/perception_pcl/pull/124/files

[2016-05-06 17:09] mikeferguson commented on #456
Thanks for the pointers -- I came across some discussion, but google had missed the actual upstream bug.

It looks like that PR just got opened -- I think the best course of action is to merge that and then release navigation. If for some reason it doesn't get released shortly, I will modify the CMake here and release.

[2016-05-08 11:54] atroyn commented on #456
I'm seeing this issue even after the PCL changes in https://github.com/ros-perception/perception_pcl/pull/124/files are merged and local;

[code]

[2016-05-08 13:13] mintar commented on #456
I've commented on the issue over at [perception_pcl#124](https://github.com/ros-perception/perception_pcl/pull/124) .

[2016-05-09 12:25] croesmann commented on #456
I've tried the same as @atroyn locally with the new perception pre-release from shadow-fixed ([perception_pcl#124](https://github.com/ros-perception/perception_pcl/pull/124)) since navigation is the last blocking dependency of my package and I got the same error. Obviously, adding the _libproj_ dependency did not fix the vtk6 issue temporarily. Just wanted to let you know, since I haven't seen a n

[2016-05-12 10:06] asimay commented on #215
i come across this issue too, in indigo version, if I don't use recovery behavior. it still check recovery_behavior_enabled_

[2016-05-17 02:56] #456 closed, assigned to mikeferguson

[2016-05-24 10:32] asimay commented on #432
I came across the same issues... it is a dead loop whatever i adjust the parameters.
it seems that your local map's width & height must be small than 5-10m, if width&height >(10m), it will occur the issue. but i used the sick lms's range more than 50m..
the map lose its desired rate, and then caused control loop its rate..
![555](https://cloud.githubusercontent.com/assets/8703449/15500932/8dbe08c4

[2016-05-24 10:35] asimay commented on #432
I'm glad to test this issue with your new changes and feedback to you.

[2016-05-25 08:55] asimay commented on #432
hi, @alexhenning , it's a very bad experience.... I download the new code, the fix code #446 and all code changes in new git version still didn't solve the problem....
please check the screenshot below, thanks!

![2222](https://cloud.githubusercontent.com/assets/8703449/15533943/4379eece-2299-11e6-9251-7099dafa2eb5.png)

[2016-05-25 08:59] asimay commented on #432
I test in stage and real env. same issue.
with global costmap:   width: 6.0,   height: 6.0
![111](https://cloud.githubusercontent.com/assets/8703449/15534067/c63362c8-2299-11e6-9d68-871b32966dd4.png)

[2016-05-25 09:05] asimay commented on #432
if set global costmap: width: 4.0, height: 4.0, less than 5m as i said above, (all related modification), the map loop warning disappeared... only left controller loop warning.
![555](https://cloud.githubusercontent.com/assets/8703449/15534408/37fd465c-229b-11e6-9b3a-d2dbb81a62e4.png)

[2016-05-25 09:22] asimay commented on #432
and my computer : 2 cpu, 12 core, intel E5, 2.6Ghz, with 32G RAM, 64bit win7.

[2016-05-25 09:28] asimay commented on #432
@alexhenning , @mikeferguson , I think maybe the map calculation use too long time,
 in costmap_2d_ros.cpp     ROS_WARN("Map update loop missed its desired rate of %.4fHz... the loop actually took %.4f seconds", frequency,

maybe use thread or optimise the module to speed up the calculation time.

[2016-05-25 10:16] asimay commented on #432
hi, all, @alexhenning , @mikeferguson , I think I find out a temporary solution, maybe it is also the root cause:
in costmap_2d_ros.cpp ROS_WARN("Map update loop missed its desired rate of %.4fHz... the loop actually took %.4f seconds", frequency,
line 409,
r.sleep();
if (r.cycleTime() > ros::Duration(1 / frequency)) , the loop time has some issues, maybe not correct.

I test the map loop time in

[2016-05-25 20:59] alexhenning commented on #432
@asimay That looks like a performance issue with your machine, not necessarily a bug in costmaps. Since you say you're running Windows 7, but you have screenshots of an Ubuntu terminal, I assume you're running in a VM? If that is correct, I would make sure that you're allocating enough CPU and RAM to the VM. If that doesn't resolve your issue, please post more details in new ticket since this woul

[2016-05-26 01:59] asimay commented on #432
dear @alexhenning, sorry, i make a typo mistake. i'm running ubuntu, and computer with very good performance, enough CPU and RAM, it is a powerful Dell workstation.
from the code, if we comment the r.sleep(), the warning is never occured, so it proved the code real cycletime is smaller than frequency time, so, there is some error in loop time calculation(here is r.cycletime() ). I think we can ope

[2016-05-26 03:01] asimay opened #468 "Map update & Control loop loop missed its desired rate."
with new code and old code, it occurs many loop warning like below....
please check the screenshot below, thanks!

![2222](https://cloud.githubusercontent.com/assets/8703449/15561502/1d9facda-2329-11e6-8dcd-41f3339b4d27.png)

And after check code I think I find out a temporary solution, maybe it is also the root cause:
in costmap_2d_ros.cpp file:
ROS_WARN("Map update loop missed its desired rate o

[2016-05-26 20:33] alexhenning commented on #468
If you look at how [`sleep`](http://docs.ros.org/api/rostime/html/rate_8cpp_source.html#l00056) and [`cycleTime`](http://docs.ros.org/api/rostime/html/rate_8cpp_source.html#l00098) are implemented, you'll see that the cycle time only gets updated when sleep is called. Not calling sleep may avoid the prints, but it is unlikely that it is actually helping your performance.

[2016-05-26 20:46] mikeferguson commented on #468
It appears you are in simulation -- is the parameter "use_sim_time" actually set to true?

[2016-05-26 20:47] mikeferguson commented on #430
446 is released into 1.12.8 -- we've not gotten a yes/no from original reporters -- but I'm going to close this. Please reopen if you find that the fix does not work and can provide additional info

[2016-05-26 20:47] #430 closed, assigned to nobody

[2016-05-26 20:48] mikeferguson commented on #432
446 is released into 1.12.8 -- we've not gotten a yes/no from original reporters -- but I'm going to close this since it is getting full of completely un-related reports. Please reopen if you find that the fix does not work and can provide additional info.

[2016-05-26 20:48] #432 closed, assigned to nobody

[2016-05-27 05:46] asimay commented on #468
Dear @alexhenning ,yes, i look through the sleep prototype of ros. but it indeed help me on not print the loop warning info if i comment the sleep code.  so from the code logic, we can verify that the cycle time is not exceed the frequency time, so the loop warning info not be printed out.

Dear @mikeferguson , the parameter "use_sim_time" is set to true, all the costmap's parameter is tuned well

[2016-05-30 07:33] corot commented on #430
Fixed!   thanks

[2016-06-01 07:45] stwirth opened #473 "[map_server] Improve fall-back behavior for new "mode" field in map.yaml"
https://github.com/ros-planning/navigation/pull/422 introduced a new variable `mode` for the interpretation of pixel values and removes the previously used `trinary` flag.
If `mode` is not set, it is simply assumed that the mode is `trinary`: https://github.com/ros-planning/navigation/blob/indigo-devel/map_server/src/main.cpp#L128-L130

I want to propose the following improvements:
1. If the `mode

[2016-06-01 08:18] stwirth opened #474 "[map_server] preserve backwards compatibility of map_server::loadMapFromFile"
The recent change from `trinary` to `map_mode` in map_server::loadMapFromFile breaks backwards compatibility.
Instead of just changing the signature, a new signature should be provided and the "old" one with the `trinary` boolean should be preserved for backwards compatibility. The users of the old one should be instructed (e.g. by a ROS_WARN) to change their code to use the new interface.

[2016-06-07 22:10] mirzashah commented on #430
@mikeferguson @alexhenning  Thanks so much for the fix --  just tested with 1.12.10, regression seems to be fixed

[2016-06-08 02:24] mikeferguson commented on #430
@mirzashah -- awesome -- and apologies on that -- we really did test the crap out of this stuff and somehow never managed to get it into that state.

[2016-06-14 13:03] MichaelKorn opened #482 "DWAPlannerROS: max_scaling_factor not used"
According to the documentation the DWAPlannerROS should use max_scaling_factor and scaling_speed. But the scale parameter in ObstacleCostFunction::footprintCost in base_local_planer is ignored.

[2016-06-15 23:53] spmaniato opened #483 "move_base doesn't depend on move_base_msgs in its CMakeLists.txt"
This is a follow-up to the discussion in http://answers.ros.org/question/236706 and is also related to issues #319 and #380

In a nutshell, `move_base` declares build and run dependencies on `move_base_msgs` in its [package manifest](https://github.com/ros-planning/navigation/blob/indigo-devel/move_base/package.xml), but there is no mention of `move_base_msgs` in its [CMakeLists.txt](https://githu

[2016-06-16 00:09] mikeferguson commented on #483
That does seem like an overview -- I would support a PR (please open one against all active branches that have this issue -- likely Indigo, Jade & Kinetic)

[2016-06-16 00:27] spmaniato commented on #483
Thanks for the quick reply @mikeferguson 😃  OK, I'll put together the patch, test in a fresh VM, and then open the pull request(s)

[2016-06-16 02:27] dcconner commented on #483
Can you also convert the deprecated _gencpp to _generate_cpp so it will work in Kinetic without warning as well?

[2016-06-16 16:43] pgigioli commented on #327
@corot, I tried your fix and it is working perfectly so far.  Good job.

[2016-06-21 15:03] corot opened #484 "Wouldn't make sense to notify recovery behaviors with the reason move_base failed?"
Well, maybe there's a way to do so, but I failed to find one, so.... I propose to change the code on Kinetic to provide this extra information to the recovery behaviors

The idea is that pretty probably people are implementing (I did) behaviors that can solve only a particular move_base failure, but do nothing to solve other cases. So execute them is useless and increase the response time (and pos

[2016-06-22 21:56] spmaniato commented on #483
I discovered more missing dependencies on messages. The corresponding `_gencpp` targets show up as _warnings_ when building with `clang`:

[code]

Actually, some of these go away when `_gencpp` is replaced with `_generate_messages_cpp`. But a few don't, indicating missing `find_package` components.

I'll try addressing all of them in my pull request(s), including the update to `_generate_messages_

[2016-06-22 22:13] spmaniato commented on #484
So the idea is that all behaviors would be called anyway, but they would look at the reason first. And if the reason is irrelevant, they would return without doing anything?

Sounds good to me. But I think a more long-term solution would be to encode such logic in the `move_base` state machine, which is currently hardcoded. See the discussion: http://answers.ros.org/question/229869/customizing-ext

[2016-06-22 23:51] hvpandya commented on #327
While the fix suggested by @corot does resolve this specific issue, I would rather not have footprint_spec passed as an argument to DWAPlanner::reconfigure, it just does not feel right.

I wonder if it can be a part of  base_local_planner::LocalPlannerUtil which is already passed to the DWAPlanner constructor. Any negative impacts of implementing the latter? I might give it a try when I get some s

[2016-06-23 16:10] spmaniato opened #485 "Release 1.12.11 breaks local costmap - It doesn't always / fully update"
On my Trusty/Indigo machine, (Debian package `ros-indigo-navigation` `1.12.8`), the local costmap works as expected.

On my macOS/Indigo laptop (navigation `1.12.11-0.tar.gz` built from source), I'm seeing weird local costmap behavior. In a nutshell, it's not updating properly in the presence of obstacles / laser scans within it's width and height. Please see screenshots below. (The global costmap

[2016-06-23 21:35] mikeferguson commented on #485
I'm not sure what is going on here -- we have adjusted some things in the inflation layer to fix several bugs that resulted in under-inflation. But we haven't seen anything like this -- and we have a huge number of robots running this code right now.

Could you create a video to show the temporal aspects of this?

[2016-06-23 21:42] spmaniato commented on #485
Yes, I can. Stay tuned. (Btw, the screenshots above are in simulation: Stage / maze world)

Is there anything significantly different between your costmap configuration and mine? I'll play around with that a bit and see how and _if_ it affects things.

I'll also narrow it down to the specific release that introduced this weird behavior.

[2016-06-23 21:43] alexhenning commented on #485
Can you post the output of `rosparam get /move_base`. Additionally, are there any warnings printing out?

[2016-06-23 22:22] spmaniato commented on #485
@mikeferguson Here's the video: https://youtu.be/mZmoK-ghe-I

@alexhenning No warnings at all. If I set move_base's `ros.costmap_2d` logger to `debug`, I see a bunch of things, but they don't look _too_ suspicious (to me). They also appear during the phases when the local costmap seems to be doing OK.

[code]

And here are the ROS params:

[code]

PS. All of this is with `1.12.11` built from sourc

[2016-06-23 22:57] spmaniato commented on #485
I tested all releases between `1.12.8` and `1.12.11` (also see updated bullet points in original post) The problem was introduced in `1.12.11` 💡

[2016-06-23 23:20] alexhenning commented on #485
All changes with the exception of https://github.com/ros-planning/navigation/commit/0a686c90c6f188a2731f6f88c2c08610f0ec907e were to the inflation layer. However, even if that was buggy, it shouldn't stop the lethal obstacles (yellow) from showing up. One difference I notice is that you're using costmap_2d::ObstacleLayer, whereas we use a layer based on costmap_2d::VoxelLayer. You could try switch

[2016-06-23 23:22] alexhenning commented on #485
Another thought is that you set overwrite the `max_obstacle_height` to 0.5. If your URDF rounded the orientation for the laser it could chop it off. There should be no downside to increasing the value.

[code]

[2016-06-23 23:49] spmaniato commented on #485
Thanks for looking into it @alexhenning No luck unfortunately:
1. Switching to the `VoxelLayer` had no effect (however, I did keep the previous parameters)
2. Trying all 4 combinations of `track_unknown_space` and `combination_method` had no effect.
3. Changing the `max_obstacle_height` from `0.5` to `2.0` had no effect. (The LiDAR is at a height of `0.141 [m]` from the ground)

[2016-06-23 23:57] alexhenning commented on #485
@spmaniato since most the changes were inflation related, can you disable the inflation layer and make sure that you are getting yellow pixels where the lasers are?

[2016-06-24 00:04] spmaniato commented on #485
Good call @alexhenning The obstacle layer (yellow) does indeed show up properly after disabling the inflation layer!

<img width="1550" alt="screen shot 2016-06-23 at 7 01 58 pm" src="https://cloud.githubusercontent.com/assets/2285973/16323979/192200ce-3975-11e6-877a-719ee7242089.png">

[2016-06-24 06:30] mikeferguson commented on #485
Pretty sure I've found the cause of this -- and I also can can see why it didn't come up in our real world testing, but came up in a simulated environment with a single outer wall. @alexhenning -- please take a look at the commit I referenced above -- we need to get a patch out for this tomorrow.

We should also look at adding some sort of test to make sure that each layer only increases the bound

[2016-06-24 16:05] alexhenning commented on #485
@mikeferguson Yeah, that's bad... I've got it fixed locally. @spmaniato I'll have a PR after some local testing.

[2016-06-24 16:52] alexhenning commented on #485
@spmaniato Can you try https://github.com/ros-planning/navigation/pull/486 and verify things works for you?

[2016-06-24 17:40] spmaniato commented on #485
@alexhenning Yep, e88e04b6e0f615598b5724bc1a8d6b23a4ac5387 fixes the issue I've been seeing 👍

[2016-06-24 17:53] alexhenning commented on #485
@spmaniato  Awesome, thanks for helping narrow this down!

[2016-06-25 01:20] #485 closed, assigned to nobody

[2016-06-25 04:29] willdzeng opened #487 "min_in_place_rotational_vel and min_in_place_vel_theta"
In the source code of trajectory_planner_ros.cpp the inplace turning velocity is called

but in the ros package wiki it's called

[2016-06-25 15:48] spmaniato commented on #487
Which wiki page(s) specifically?

Here's what I'm seeing (with a shallow search):
- http://wiki.ros.org/base_local_planner ➡️ `min_in_place_vel_theta`
- [base_local_planner / trajectory_planner](https://github.com/ros-planning/navigation/search?utf8=%E2%9C%93&q=min_in_place_vel_theta) ➡️ `min_in_place_vel_theta`
- [base_local_planner / trajectory_planner_ros](https://github.com/ros-planning/naviga

[2016-06-25 19:27] willdzeng commented on #487
yeah,

http://wiki.ros.org/base_local_planner
wiki page said the parameter's name is

but the parameter name is actually

I guess the commit you mentioned didn't get in.

Also, even when I increase the min_in_place_rotational_vel, the planner also sometime send small in place turning velocity. Do you have any idea why?

for example I have parameters:

[code]

the planner send this command when it

[2016-06-25 23:35] willdzeng opened #488 "Local Costmap Inflation doesn't work?"
![screenshot from 2016-06-25 16 29 24](https://cloud.githubusercontent.com/assets/12994633/16359671/75657a54-3af2-11e6-929b-b9feba922f78.png)
![screenshot from 2016-06-25 16 29 35](https://cloud.githubusercontent.com/assets/12994633/16359672/7566b8a6-3af2-11e6-9660-ad60eb3fe96a.png)

Because I found out the Inflation of local costmap doesn't work.
I try to visualize the obstacle cost cloud, and fo

[2016-06-26 15:40] corot commented on #327
Hi @hvpandya, Yes, fully agree that my PR is not the most elegant change. I just wanted to fix the problem without changing significantly the code. I didn't try your fix, but if it solves the issue, feel free to PR it and I'll drop my own, as your change is probably cleaner

[2016-06-26 17:26] spmaniato commented on #488
@willdzeng Which distro and which version (release) are you running? I think what you're seeing might be related to #485, which was fixed for Indigo (in #486) two days ago.

[2016-06-26 20:20] willdzeng commented on #488
I am using the latest jade-devel, I think that commit is not merged into jade

[2016-06-26 21:50] willdzeng commented on #488
Also I found out the local costmap didn't update after the obstacle are removed even after I used the coomit in #486 .
For example, in the following screenshots.
The point cloud showed that the obstacle is removed, but the local costmap didn't update.
![screenshot from 2016-06-26 14 39 16](https://cloud.githubusercontent.com/assets/12994633/16365178/2f98f102-3bad-11e6-92a7-19c4a0d09603.png)
![scre

[2016-06-26 22:35] willdzeng commented on #488
Inflation still doesn't show in the obstacle cost point cloud visualization. This is using the latest indigo-devel branch

![screenshot from 2016-06-26 15 33 38](https://cloud.githubusercontent.com/assets/12994633/16365388/71def5b0-3bb3-11e6-8fbe-62405d1a8f59.png)
![screenshot from 2016-06-26 15 33 44](https://cloud.githubusercontent.com/assets/12994633/16365387/71df0ff0-3bb3-11e6-9153-1624a924e13

[2016-06-27 18:14] corot commented on #484
Yes, exactly. Recovery behaviors that do not consider themselves appropriated for the problem will just inhibit and let the next one to go on. I agree it's not the most elegant solution, but probably pretty easy to implement.

That said, the discussions you pointed to and @DLu's branch look very interesting. I wonder if it's not time to develop an experimental move_base (on a kinetic branch of htt

[2016-06-27 21:06] willdzeng opened #489 "move_base feedback status not update after TrajectoryROS finish planning"
I am having problem of move_base not changing the status. Seems like move_base didn't update the feedback status instead it's publishing the goal reached in the result topic. Also It doesn't make sense to not printing a goal reached after it reaches the goal.

I am using the new jade-devel branch.

For example, when the planning finished. I got this feedback as my last feedback.

But I do get a re

[2016-06-28 04:52] mikeferguson commented on #489
move_base is intended to be used with actionlib -- it provides an action interface -- rather than thinking about this as different topics, you probably want to be using the actionlib interface which will tell you if the goal request succeeded/preempted/failed/etc.

The feedback is really just a convenience -- the same data is actually available by checking your base_link -> map (or equivalent) tra

[2016-06-28 04:52] #489 closed, assigned to nobody

[2016-06-28 05:02] mikeferguson commented on #488
I think you are seeing several different things here:
- On the initial post about the point_cloud vs the costmap -- I'm pretty sure that if the costmap is up to date, it will be properly taken into account in the planner -- for instance, the robot radius appears to be all "very high cost". However, depending on the settings you have for the planner costs, the actual cost may drop off quite steeply

[2016-06-28 05:02] #488 closed, assigned to nobody

[2016-06-28 05:10] mikeferguson commented on #487
Good catch -- a PR (with the backwards compatibility mentioned in the DLu commit above) could definitely be accepted into all of indigo/jade/kinetic if someone wants to go about opening them.

[2016-06-28 05:14] willdzeng commented on #488
OK~, I got you. Sorry, I thought it was a bug of the map_viz or inflation didn't take into account. I will try change the cost_scaling_factor to see if it changes.

[2016-06-28 05:16] mikeferguson commented on #488
No problem -- especially on that map_viz part, I could see that looking like a bug at first.

One other thought -- you can probably change the scale of min/max in your RVIZ settings, there is probably a very shallow slope across the red region, but the scaling is probably so small compared to the other color differences that it all shows up red.

[2016-06-30 10:32] sylvainar opened #492 "Compilation error"
Hey guys !

I'm trying to compile using catkin_make, but I've got an error :

`/home/summit/catkin_ws_sylvain/src/navigation/clear_costmap_recovery/src/clear_costmap_recovery.cpp: In member function 'void clear_costmap_recovery::ClearCostmapRecovery::clearMap(boost::shared_ptr<costmap_2d::CostmapLayer>, double, double)':
/home/summit/catkin_ws_sylvain/src/navigation/clear_costmap_recovery/src/clea

[2016-07-01 18:49] DLu commented on #492
What version of the repository are you running, and on what system?

Also, until this is confirmed as a bug, its probably better to tackle this on answers.ros.org.

[2016-07-04 20:28] PeterMitrano opened #493 "Proposal to publish the status of recovery behaviors"
I believe it would be useful to publish when move_base enters recovery behaviors, and maybe which one. My use-case is that I want to supervise move_base, and if it enters recovery behavior twice within some distance of each other I want to know. However, move_base only prints a debug message when entering recovery behaviors.

I'd like to make a PR that adds a publisher, which will publish the curr

[2016-07-05 22:46] corot opened #494 "cmd_vel flooded with zero-velocity commands during recovery behaviors"
This is something new, seems to me that coming with [this commit](https://github.com/ros-planning/navigation/commit/0a686c90c6f188a2731f6f88c2c08610f0ec907e). Happens when the global planner fails to produce a plan: move_base keeps publishing zero-velocity messages. This can hamper recovery behaviors that want to move the robot.
@gjc13, do you think we can remove the publishZeroVelocity(); part fr

[2016-07-05 22:47] corot commented on #484
Another feature susceptible of being added to the hypothetical experimental move_base: #493

[2016-07-06 01:19] mikeferguson commented on #494
I hadn't thought of that sort of side effect when reviewing/merging that -- @corot if you open a PR with a revert to that part (against i/j/k branches) we can get that merged and released shortly

[2016-07-06 07:29] corot commented on #494
Sure,  i'll do later today (CET). I'll remove just the publishZeroVelocity();, as I have no idea what the other change in the commit does. Would be great if @gjc13 can seed some light on that.

[2016-07-07 00:49] gjc13 commented on #494
In our configuration we disabled the recovery behaviour, so this part is not tested. Sorry for the side effect. I think you can remove it.

[2016-07-07 03:40] PeterMitrano commented on #484
Yep, that's very possible. I've already implemented and tested that idea, but I'm waiting to hear back from a maintainer before I make a PR. [here's what I did, it's branched off of indigo-devel](https://github.com/PeterMitrano/navigation/tree/publish_recovery_behavior)

[2016-07-11 08:44] corot commented on #57
The general idea goes on in issue #484. Closing this

[2016-07-11 08:44] #57 closed, assigned to nobody

[2016-07-11 21:12] corot opened #496 "Can we make move_base fail faster if the global planner cannot find a path?"
Now move_base keeps calling global planner up to 'planner_patience' seconds regardless how many times the global planner fails. In our particular case, we allocate 2 seconds (rather short time) to the SBPL lattice planner, so we set planner_patience as 2.5 seconds. This is a notable waste of time because the planner has time to fail many many times, while after 4 or five attempts planner can do in

[2016-07-11 21:23] mikeferguson commented on #496
removing planner_patience would probably be too drastic of an API change -- but adding an additional "max_planning_attempts" is an acceptable API change as long as the default is "disabled" (probably represented as either 0 or -1)

[2016-07-11 21:27] corot commented on #496
Thanks! Also acceptable to release on indigo?

[2016-07-11 21:28] mikeferguson commented on #496
Yes -- we'll have to extensively review it (so the shorter the PR, the better), but we should be able to put this into I/J/K as long as we maintain backwards-compatability

[2016-07-12 07:01] tibloop opened #497 "costmap_2d documentation does not inform it subscribe /map topic"
The documentation does not inform move_base subscribe /map topic through costmap_2d and static_layer . Also it should inform we can use the parameter map_topic to set it.

[2016-07-12 11:48] corot commented on #496
I tried to be quirurgical...

[2016-07-13 16:39] spmaniato commented on #497
It does here: http://wiki.ros.org/move_base#move_base-1 (figure) and here: http://wiki.ros.org/costmap_2d/hydro/staticmap (both topic and parameter) That's because only the `static_layer` (i.e., usually the global costmap) needs the map.

You can see the ROS API of all layers here: http://wiki.ros.org/costmap_2d?distro=kinetic#costmap_2d.2BAC8-layered.Layer_Specifications

[2016-07-13 16:54] spmaniato opened #499 "Inconsistent odom_alpha1 and odom_alpha4 parameters between AMCL's diff and omni models?"
I've been working on AMCL lately and noticed the following inconsistency in [`amcl_odom.cpp`](https://github.com/ros-planning/navigation/blob/indigo-devel/amcl/src/amcl/sensors/amcl_odom.cpp)

Let's start with the documentation. The [amcl wiki page](http://wiki.ros.org/amcl) says (abbreviated):
- `~odom_alpha1` Expected noise in odometry's rotation estimate from the rotational component
- `~odom_a

[2016-07-14 01:26] tibloop commented on #497
yes, but if you don't know the package, its quite a challenge to discover that you need to open costmap_2d documentation and then static_layer documentation to get this information. I think move_base documentation should at least inform that costmap_2d is the node used for global_costmap. Maybe in the figure. I realise the information are here, just not accessible to persons unfamiliar with the pa

[2016-07-14 16:12] spmaniato commented on #497
OK. I think what you were trying to accomplish is easier using topic remapping:

[code]

See, for example, these launch files: [fetch_navigation/launch](https://github.com/fetchrobotics/fetch_ros/tree/indigo-devel/fetch_navigation/launch) (The usecase here is a "keepout" map.)

PS. For the record, I'm not a package maintainer. Just a user/developer trying to be helpful 😛

[2016-07-14 16:28] mikeferguson commented on #497
Section 1.1.1 states that move_base is what ties all the different components together, and section 1.1.7 of the move_base wiki page states what components exist and links to costmap_2d. The reality here is that move_base is quite complex -- you have to really read the whole documentation to understand what is going on, and there is just no getting around that.

On the costmap_2d page, the plugins

[2016-07-14 16:28] #497 closed, assigned to nobody

[2016-07-14 16:38] mikeferguson commented on #499
That does appear to be flipped -- it's way too late to fix this in I/J -- maybe acceptable in K, but questionable given that K has been "released" for about 2 months now. It may actually be better to just update the documentation and note the difference for omni.

[2016-07-14 17:13] spmaniato commented on #499
Agreed. Can we label this issue and leave it open for a future pull request against Lunar, once that branch is up?

I'll comment here again with a link to the modified wiki page section.

[2016-07-20 17:19] PeterMitrano commented on #493
Since this isn't getting any response, I'm just going to make a PR and see if that gets any traction. I'm using Indigo for testing, but as long as it gets accepted somewhere I'll be happy.

[2016-07-21 02:16] phil0stine commented on #267
We tested the improved clearing algorithm on a multi-sensor robot. Found a few problems, but now I think it is ready for a renewed look for inclusion into the core nav stack. Details can be found in a [pull request to the yujin fork](https://github.com/yujinrobot/navigation/pull/25)

[2016-07-23 22:29] zkytony opened #503 "When move_base goal is set in a certain direction, dwa_local_planner plans less stably and the robot is moving slower"
I found some interesting behavior in dwa_local_planner, not sure if it is a bug, or if it can be resolved by setting parameters differently.

The behavior is that, when the goal is set in the -x direction with respect to TF origin, dwa local planner plans less stably (the local planned trajectory jumps around) and the robot moves really slowly. But when the goal is set in the +x direction, dwa loc

[2016-07-27 00:13] DLu commented on #483
Ready to close?

[2016-07-27 00:22] spmaniato commented on #483
Mostly. #504 added `move_base_msgs` as a `find_package()` component, but I think that, technically, we also need an `add_dependencies()` on the corresponding `_generate_messages_cpp`, right?

In addition, `costmap_2d` also seems to be missing from `move_base`'s `find_package()`

I had started implementing and testing _all_ these changes in VMs, but never got around to cleaning them up and opening

[2016-07-27 17:33] msymmank opened #507 "Message in dwa_planner_ros should use debug type instead of info"
In the dwa_planner_ros.cpp file in all of the devel branches, there is a ROS_INFO statement that prints "Got new plan" every time the plan changes a little. This can quickly fill up the terminal while trying to reach a specific goal point if info statements are shown for move_base. It is not an error, but it can get annoying and affect the user seeing useful information.

Should this instead be a

[2016-07-29 06:52] corot opened #508 "footprint_clearing_enabled param: not all footprint area is cleared"
Seems to me that cells with center laying outside the footprint are still marked as obstacles (not cleaned), what probably makes sense. But if a corner of the cell is within the footprint, move_base always fails.

![image](https://cloud.githubusercontent.com/assets/322610/17240134/a5d53f4e-5569-11e6-8c1a-e3b5036df816.png)

Shouldn't we clean ALL cells with any portion within footprint area?

I can

[2016-07-29 06:59] panshengjie commented on #508
hello
I  just fixed it my self by turn off  footprint legal check in TrajectoryPlanner::generateTrajectory
try to  replace  code :  double footprint_cost = footprintCost(x_i, y_i, theta_i);  with code: double footprint_cost=0;
that works great but the robot almost wont escape anymore
but still can avoid obstacles

[2016-08-01 17:49] PeterMitrano commented on #508
This is probably a side effect of using bresenham's line tracing algorithm
[https://en.wikipedia.org/wiki/Bresenham%27s_line_algorithm](https://en.wikipedia.org/wiki/Bresenham%27s_line_algorithm)

I think there's a line_iterator class somewhere that implements it. Although TBH I can't actually understand your picture. Which part is inside the robot and why are there lines of different colors?

[2016-08-01 17:51] PeterMitrano commented on #507
Sometime that's incredibly useful--I like having it printed. I don't think there's enough reason to change it. There are _tons_ of ROS_DEBUG statements that I don't want turned on along with it. My guess is this won't get enough support.

[2016-08-08 06:19] corot commented on #508
Sorry @PeterMitrano, the picture is not a very fortunate example. Robot center is to the right-up of the green line. The black line is part of the RViz grid that I should have disabled.

[2016-08-08 15:38] PeterMitrano commented on #508
ok so is it the red dot you're talking about? or just all the red/blue stuff to the right-up of the green line

[2016-08-08 16:02] corot commented on #508
![image](https://cloud.githubusercontent.com/assets/322610/17486724/29ec914e-5d92-11e6-9082-b0fe99b34671.png)

Hope this image is clearer: as you can see, the obstacles (yellow cells) overlap the robot footprint (green). So move_base_will always fail.

[2016-08-08 21:10] PeterMitrano commented on #508
Yep, that's because of the line tracing algorithm. Look at the image in the wiki article I sent you. The obstacle layer (probably same for voxel) uses methods that eventually boil down to `costmap_2d::Costmap2D::polygonOutlineCells`, which uses `costmap_2d::Costmap2D::raytraceLine`. I don't think we should modify the ray trace algorithm. Instead, maybe just add one cell on all sides when we're fil

[2016-08-10 07:07] corot commented on #484
Seems clear to me like current implementation of move_base is aging and needs some tune up. Given how widely uses it is now, and that some of the changes will affect the APIs, I see three options:
- clone current code to a move_base_2 package on [navigation_experimental](https://github.com/ros-planning/navigation_experimental)
- make a major upgrade for Kinetic, but it's already released, so proba

[2016-08-10 15:53] PeterMitrano commented on #484
I'm just not entirely sure it makes sense to do that for ROS 1. ROS 2 is past its third alpha, and having a shiny new move_base implementation would be a great motivation for people to move forward.

[2016-08-15 19:20] #496 closed, assigned to nobody

[2016-08-16 22:26] mryellow commented on #474
Believe this is the offending commit.

https://github.com/ros-planning/navigation/commit/881b49329ba16695065bea7df119c50988a7532d

[2016-08-16 23:30] mryellow commented on #474
C++ isn't my native language, I imagine that deprecation notice can be done on the compiler side of things and displayed during build instead of as a `ROS_WARN`.

[2016-08-16 23:34] mryellow commented on #474
Seems it will need a signature without the last arg, which overloads to the new signature. `stdr_simulator` is calling `loadMapFromFile` without that last argument.

[code]

[2016-08-16 23:55] mryellow commented on #474
Well that builds, including `world_canvas_editor` and `stdr_server`.

Not sure if I've done it the least verbose way. Imagine adding the third signature without the last arg is how to handle defaults confusing the situation.

[2016-08-17 02:21] qh-huang opened #514 "cell size of kdtree"
Hi,

in `amcl/src/amcl/pf/pf_kdtree.c`

I'm confused about the value of `size`

[code]

why is size[0], size[1] set to 0.5?
shouldn't it correspond to map resolution?
and for default setting, map cell is 0.05 meter, why initial size set to 0.5?

[2016-08-17 07:07] qh-huang opened #515 "return value of map_calc_range"
in file `amcl/src/map/map_range.cpp`, function `double map_calc_range(map_t *map, double ox, double oy, double oa, double max_range)`

[code]

x, y are not changed after assigned value of x0 and y0.
if the cell is unknown or occupied (occ_state > -1), the return value will always be 0.

It makes no sense, or do I miss anything?

Thanks a lot!

[2016-08-18 07:50] corot commented on #508
Current implementation with Bresenham's line algorithm looks just right... and I don't feel confident enough to propose an alternative, so... unless more people have the same problem, I'll close this issue by now, and live with it (I created a recovery behavior that shrinks the footprint)

[2016-08-18 07:50] #508 closed, assigned to nobody

[2016-08-18 14:56] PeterMitrano commented on #508
haha oh my god that's a fantastic recovery behavior

[2016-08-18 19:38] corot commented on #508
hehe...  risky, but works many times!  :fearful:

[2016-08-24 09:52] AravindaDP opened #516 "TrajectoryPlanner do not consider obstacles while generating escape velocities."
It appears that when TrajectoryPlanner generates escape trajectories, It do not consider the costmap obstacles.

https://github.com/ros-planning/navigation/blob/indigo-devel/base_local_planner/src/trajectory_planner.cpp#L910

Is this by design? I think this behavior need to be at least made configurable so that users could choose to whether or not to consider costmap obstacles when escaping.

[2016-08-24 13:42] corot commented on #494
Fixed; thanks! Can be closed.
Seems like there's no problem on J/K. I didn't tried the code, but the line I removed on indigo is not there

[2016-08-24 13:42] #494 closed, assigned to nobody

[2016-08-24 14:01] corot opened #517 "Can failure of costmap to meet its update rate make getRobotPose fail?"
Ok, this is something rather mysterious I cannot understand, probably not a bug, but is bugging me quite a lot:

First, I have noticed that on all move_base components robot pose is get by calling Costmap2DROS::getRobotPose. That's fine, but... could somehow this method fail if the costmap is strugling to keep its update rate? I know this don't make sense because the map is updated in a separated

[2016-08-25 09:28] spmaniato commented on #517
Interesting. @corot I had experienced similar (same?) issues, but had attributed them to running the nav stack on a weak SBC (see #437) Are you seeing this in simulation or on a real robot? Are the computational resources limited, like in a SBC?

[2016-08-25 14:14] corot commented on #517
In both, but slightly different. On Stage I have a weird issue with the footprint trailing behind of the tf tree and robot model, what could indicate that the costmap truly struggles to keep path, because it's him who provides the footprint. So I just ignore it by now and concentrate on the real robot..

We use a i7-4770S (quadcore, 3.9GHz), 16 GB RAM, so we have plenty of computational power for

[2016-08-26 10:03] AlexReimann commented on #267
Hey,

I'm sorry, but we are not actively using this anymore and I won't have the time to do any more work on this.
So I'll close this PR for now, especially because it is outdated and I think has some conflicts.

Maybe @phil0stine can take this over and make a new PR if he wants?

[2016-08-30 11:04] AravindaDP commented on #267
@mikeferguson

I would like to get clarification on your comment on https://github.com/ros-planning/navigation/issues/267#issuecomment-62290356 regarding voxel_layer.cpp:127

As you suggest placing origin_z_ is equal to or below the min_obstacle_height causes all the points that are below min_obstacle_height to be removed from observation source. But this also effectively prevent ability to clear

[2016-08-31 01:47] AlexReimann commented on #267
Closed the PR instead and will leave this open..

[2016-08-31 13:54] phil0stine commented on #267
@AlexReimann I will put together a new PR shortly, though I understand the reluctance to merge since there are significant changes to review.

The biggest issue I see with reviewing these changes is the difficulty to produce unit tests. Since many processes must be run using consistent data to test almost anything in the nav stack, producing a common test bagfile and launchfile to demonstrate issu

[2016-08-31 19:58] nxdefiant opened #518 "amcl segfault in libamcl_map.so"
amcl segfaults when compiled from source in current debian testing (gcc 6.1.1, boost 1.61, kinetic-devel)

ros debug output is attached in amcl.txt:

[amcl.txt](https://github.com/ros-planning/navigation/files/448150/amcl.txt)

[2016-09-01 04:41] AlexReimann commented on #267
The problem rather is that, we ended up not using this at all on any of our systems because the raytracing is simply taking too much CPU.
So I don't get any time to spend on something we are not using when I have more urgent stuff to fix.

If you have time and run also into CPU problems maybe think about doing the raytracing using the 3d sensor depth image instead.. it would have been the next thi

[2016-09-01 15:27] phil0stine commented on #267
Thanks Alex. We are using non RGB-D sensors with smaller bandwidth (Velodyne) and while we have decent on-board computing, raytracing CPU usage has not been problem since we built it as Release. I assume this means that the original VoxelGrid implementation would also be a problem, or did your changes introduce a significant performance hit?

Since we don't use RGB-D or stereo, we don't have a rea

[2016-09-04 06:45] nxdefiant commented on #518
The crash is in map/map_cspace.cpp, enqueue():

[code]

(i, j, src_i, src_j also unsigned int)

with e.g. i=997 and src_i=998 on g+ 6.1.1 it results in 4294967295 instead of 1 because g++ now has its own abs() in math.h. The values should probably cast to signed or the lines converted to something like

`unsigned int di = i > src_i ? i - src_i : src_i - i;`

[2016-09-15 01:15] pirobot opened #519 "ros-indigo-desktop-full does not install navigation stack"
It seems that a fresh install of ros-indigo-desktop-full does not install navigation packages like move_base, amcl, etc.

[2016-09-21 17:10] mikeferguson commented on #519
Metapackages are defined over here: https://github.com/ros/metapackages, that'd be where to request a change in how metapackages are defined. However, the navigation stack does bring in a bunch of packages/depends, so there will likely be push back against inclusion

[2016-09-21 17:10] #519 closed, assigned to nobody

[2016-09-22 11:24] corot commented on #517
Ok, tentative fix for the big problem (global planner failures) PRequested:  #520

[2016-09-26 15:28] AravindaDP commented on #516
This is also discussed at http://answers.ros.org/question/217043/escape-velocity-robot-behavior-move_base/

[2016-09-27 12:18] glebos opened #521 "amcl rotational drift when turning"
Hi,
I am simulating a carlike robot in gazebo and am using amcl for localization. When the robot is turning I get a rotational drift in localization like in this picture: https://postimg.org/image/8qyr67xk5/.
Please help me to solve this problem. I am happy to provide any necessary information.
Thank you in advance!

[2016-09-28 14:59] DLu commented on #521
As this is more of a parameter tuning problem as opposed to a verifiable bug, please post this on answers.ros.org instead.

[2016-09-28 14:59] #521 closed, assigned to nobody

[2016-09-28 22:36] corot commented on #468
mmm...  this is very interesting... because starting from last week, the performance of my move_base configuration, with Stage simulation, has degraded hugely:

![image](https://cloud.githubusercontent.com/assets/322610/18934795/29a8c1e0-85dc-11e6-8763-0a6a99a9dc26.png)

It fails to keep updating both local costmap and controller even at 5 Hz, in a rather powerful PC. Before, it failed to keep the

[2016-09-29 11:15] corot opened #523 "Global planner called much more times than expected"
After merging #498, if max_planning_retries is set to 0 or bigger, global planner should be called 1 + max_planning_retries times. If not, it should be call for up to planner_patiente seconds.
But it's not the case; it gets called tens or even hundreds of times!

This is discussed in this [ROS answer](http://answers.ros.org/question/242629/global-planner-behavior-upon-planning-failure/)

[2016-09-30 06:38] asimay commented on #468
dear @corot , not only the simulation case but also real time env case get the same result.
I have already changed the code, commented the`r.sleep()` in costmap and control related source files, just two modifications, and it can avoid the infinite loopping print info.
Maybe something strange blocked it during the function sleep time.

[2016-09-30 21:09] corot commented on #468
I think I found where is the problem, but not at all the cause. The inflation layer takes almost all the update time for the maps, and in particular calls to pop on the priority_queue ([this line](https://github.com/ros-planning/navigation/blob/kinetic-devel/costmap_2d/plugins/inflation_layer.cpp#L238))
I have absolutely no idea why, but the fact is that whereas the full inflation layer update tak

[2016-10-04 16:58] corot commented on #468
I'm so intrigued with this that I remade the inflation algorithm without using the priority_queue. In my scenario I get a x3 boost in costmap update performance, but as it's clear to me that there's something definitely wrong with my ROS-navigation-stage workspace, I would really appreciate if someone can give the change a try:

https://github.com/corot/navigation/tree/speedup_costmaps

Also, I us

[2016-10-05 09:58] corot commented on #468
I have played around with the changes a bit more, and all seems to work fine, also scaling well to higher resolutions and inflation radius. After profiling my changes, the new biggest CPU eater is the map lookup for distances on enqueue method (you need to check my changes to understand what I mean). Maybe someone with better understanding of STL containers can give an extra speedup, knowing this.

[2016-10-05 11:13] TUM-ITR-RAMCIP opened #526 "-"

[2016-10-05 11:13] #526 closed, assigned to nobody

[2016-10-16 17:47] katanachan opened #527 "dependency issue for pcl in costmap_2d"
I installed costmap_2d via apt-get. The ROS distro I'm using is Kinetic. Although I can see that PCL is already listed as a dependency on CMakeLists.txt on costmap_2d/ the folder in the navigation repository, I'm not sure why this issue is cropping up.

**/opt/ros/kinetic/include/costmap_2d/observation.h:36:29: fatal error: pcl/point_types.h: No such file or directory**

I did solve it myself by a

[2016-10-18 06:48] ledmonster commented on #439
I got very confused by old documents, until I read original source codes. I'd be very happy if documents would be updated.

[2016-10-18 18:25] DLu commented on #439
http://wiki.ros.org/action/diff/costmap_2d/hydro/staticmap?action=diff&rev1=5&rev2=6

[2016-10-18 18:25] #439 closed, assigned to nobody

[2016-10-18 19:10] mikeferguson commented on #439
Thank you David Lu!

[2016-10-25 10:48] tutorgaming commented on #206
The bug does persist when you close the navigation stack but not the roscore, With the parameter "robot_radius" set only .
- ROS Kinetic
  ![aa](https://cloud.githubusercontent.com/assets/5821937/19683147/46cc88e2-9adb-11e6-9c51-88beceab4069.png)

[2016-10-25 11:39] alittleharry commented on #384
maybe the change of odom between two message is 0.02 minimal.

[2016-10-26 21:24] spmaniato commented on #187
Apologies for resurrecting a 2.5 year old issue, but it seems like the param `combination_method` is not exposed on the parameter server nor is it initialized (`onInitialize`). It's only exposed as a dynamic parameter and initialized in the dynamic reconfigure callback (c.f. #202). Was this a conscious design choice? If so, why? Thank you 😁

PS1. I'm on Indigo, but I don't see a fix in other recen

[2016-10-31 08:25] AravindaDP commented on #516
@DLu , @mikeferguson
Thought you might be able to shed some light on this?

[2016-11-01 03:05] AlexReimann commented on #468
[Indigo only with C++03](http://www.ros.org/reps/rep-0003.html#indigo-igloo-may-2014)

:/

[2016-11-02 20:22] jacobperron opened #537 "Indigo build fails when ROS java is installed"
Several packages fail to build. For example, **navfn** fails:

[code]

and **robot\_pose\_ekf**:

[code]

But the build succeeds upon removal of ROS java ([Ref](http://answers.ros.org/question/213859/failed-to-build-razor_imu_9dof/?answer=222562#post-id-222562)) with the following command:

[code]

[2016-11-02 21:42] mikeferguson commented on #537
This would appear to actually be an issue with either rosjava or your environment/paths. I doubt there is anything we can do within the navigation stack to fix this, so I would suggest following up with the rosjava devs.

[2016-11-02 21:42] #537 closed, assigned to nobody

[2016-11-03 00:18] kevincwells opened #538 "Converting move_base/amcl/etc to run as nodelets"
Hi,

I recently submitted a pull request (https://github.com/ros-perception/slam_gmapping/pull/41) to the gmapping package to allow it to be run as a nodelet in addition to its current node form.  The goal was to be able to run it (which consumes the /scan topic) and a nodelet like depthimage_to_laserscan (which produces the /scan topic) under the same nodelet manager, for reduced data copies and

[2016-11-12 17:13] jspricke opened #540 "switch to Kinetic"
I would propose to switch the default branch on Github to kinetic-devel and merge the changes from jade-devel.

[2016-11-13 05:14] zkytony opened #541 "Behavior of global_planner seems unreasonable"
![Problem showcase](https://i.imgur.com/2JxMDOB.png)
Here is the situation in the above picture. The robot is between a sofa and a wall, and it is facing upwards. I am setting a goal in the bigger room (right part of the map), and global_planner fails to produce a path. The visualization of global_planner's potential shows that it didn't even search in the big room.

Here are two videos ([Link to

[2016-11-13 21:46] mikeferguson commented on #540
Switched to kinetic-devel.

I'm not sure I understand the comment about merging from jade-devel, we forked because there are API/ABI differences between jade/kinetic, so we still need the jade-devel branch, and AFAIK any new features put into jade-devel are also in kinetic-devel (unless we accidentally missed something, and if so, we should forward-port the individual missed PRs).

[2016-11-13 21:50] jspricke commented on #540
- Michael Ferguson notifications@github.com [2016-11-13 13:46]:

Thanks!

Then it's fine, I just noticed a lot of pull requests against old
branches.

[2016-11-13 21:53] #540 closed, assigned to nobody

[2016-11-15 20:10] zkytony commented on #541
![selection_079](https://cloud.githubusercontent.com/assets/7720184/20321333/f13aaa76-ab29-11e6-939f-2db1fdebf9ee.png)

How to explain this "hole"? It looks like the shape of the robot's footprint, but I don't see any source code related to footprint in global_planner.

I read the source code in planner_core.cpp, dijkstra.cpp and quadratic_calculator.cpp. Planning will fail if `calculatePotentials

[2016-11-15 20:26] zkytony commented on #541
Another confusing `global_planner` behavior that I observed is: sometimes it successfully finds a path, but since I set `planner_frequency` to 2.0, the planner will replan as the robot moves, and _such replanning_ may fail despite previous success.

If I set `planner_frequency`  to 0.0, the global planner won't replan dynamically unless global planner or local planner failed (Documentation: [http:

[2016-11-15 20:34] tappan-at-git commented on #541
This might be a more appropriate topic for [answers.ros.org](http://answers.ros.org), since it involves digging into the specifics of your setup. I would post your question there with as much detail as you can about the launch files and parameters you're using. The issues board isn't ideal since the people tracking it are probably busy, and may not have the time to dig into your problem.

[2016-11-15 22:22] zkytony commented on #541
I posted a question on ROS Ask several days ago: [http://answers.ros.org/question/247908/global_planner-fails-to-find-a-plan-it-doesnt-search-certain-regions-on-the-map/](http://answers.ros.org/question/247908/global_planner-fails-to-find-a-plan-it-doesnt-search-certain-regions-on-the-map/)

If you have a moment, please take a look! Thanks!

[2016-11-17 07:04] luke321 opened #542 "amcl odom_alpha parameters have wrong description in wiki.ros.org"
It took me quite some time till I figured out that something is wrong with the documentation on wiki.ros.org, I hope this gets fixed to spare others some time.

The Description texts actual describe this values:
alpha4
alpha2
alpha3
alpha1
alpha5

alpha1 and alpha4 are switched

CURRENT Description in wiki.ros.org:

Specifies the expected noise in odometry's rotation estimate from the rotational c

[2016-11-17 19:39] DLu commented on #542
Were you not able to make the change on the wiki?

[2016-11-18 05:55] spmaniato commented on #542
@luke321 @DLu It's a bit more nuanced than that: #499

In a nutshell, `alpha1` and `alpha4` are in the `omni` model's source code (compared to `diff` and the wiki page) IMHO the change should be done at the source code level (in L distro), not the wiki.

[2016-11-23 15:58] mantouRobot opened #544 "oscillation_pose_ not initialize"
In move_base.cpp for the indigo branch, the oscillation_pose_ is  not initialize before first time use.

[2016-11-30 06:49] AlexReimann commented on #376
I ran into this... this is madness .. bump

[2016-12-01 16:55] mintar commented on #537
Actually, this is an issue caused by incorrect dependencies in the navigation stack. I've fixed it in #548 . :)

[2016-12-03 08:02] QinZiwen commented on #507
My terminal show that DWA planner failes to produce path. What are there possible reason?
Thank you very much!

[2016-12-03 08:13] QinZiwen commented on #433
My terminal show that DWA planner failes to produce path. What are there possible reason?
Thank you very much!

[2016-12-07 13:34] AravindaDP commented on #262
Any update on this? It seems this is not resolved yet even after 2 years.

[2016-12-08 11:01] AravindaDP commented on #262
On the other hand this kind of behavior is available in MoveBase::planService service call method.
https://github.com/ros-planning/navigation/blob/kinetic-devel/move_base/src/move_base.cpp#L334

May be I can implement a similar behavior here and make a pull request?

@DLu what do you think?

[2016-12-09 05:31] sinhau commented on #508
@corot Would be great if you could share your recovery behavior code.  Sounds like a really interesting idea!

[2016-12-13 03:54] hzcipher opened #550 "user defined costmap layer"
what's the best method to save user defined information for each grid in the costmap layer?

[2016-12-13 18:42] DLu commented on #550
Please ask open-ended questions like this on answers.ros.org.

[2016-12-13 18:42] #550 closed, assigned to nobody

[2016-12-27 12:32] ledmonster commented on #523
+1

[2016-12-27 19:57] spmaniato opened #552 "static_layer uses original map even if map_server is relaunched (first_map_only = false)"
When `first_map_only` is set to `false` (or is left unset, which defaults to `false`), I would expect the `static_layer` to update when the map server is killed and a new one (serving a different map) is launched. Both map servers publish on the same topic, `/map_keepout`.

**Update**: Also see [palmieri's comment](https://github.com/ros-planning/navigation/pull/410#issuecomment-174444257) on #410

[2016-12-29 18:37] oscar-lima opened #553 "min greater than max in AMCL.cfg"
In lines 27, 28 of https://github.com/ros-planning/navigation/blob/kinetic-devel/amcl/cfg/AMCL.cfg

gen.add("beam_skip_distance", double_t, 0, "Distance from a valid map point before scan is considered invalid", 0, 2, 0.5)

gen.add("beam_skip_threshold", double_t, 0, "Ratio of samples for which the scans are valid to consider as valid scan", 0, 1, 0.3)

the order of dynamic reconfigure is: name, t

[2017-01-10 03:45] caicaixia commented on #537
$ sudo apt-get remove ros-indigo-genjava

[2017-01-10 03:46] caicaixia commented on #537
it works if your removed ros-indigo-genjava.  I think it maybe the version of qt5, and qt4

[2017-01-10 06:53] mintar commented on #537
Nope, this has nothing to do with qt. The fix for this issue is #548. Removing genjava is not an option if you need rosjava.

[2017-01-10 09:52] caicaixia commented on #537
Hello,  I don't use the navigation stack, but also have this error.
So what can I do?  What is the solution?  Did you already merge the changes to the ros indigo?

[2017-01-10 09:56] caicaixia commented on #537
Should I update the ros-indigo-navigation?

[2017-01-11 12:14] mintar commented on #537
The bug only occurs when rosjava is installed *and* navigation is checked out as a source package into the Catkin workspace you're building. The binary package `ros-indigo-navigation` has nothing to do with this. If you don't have navigation checked out from source and you still have some error message, it's a different bug. Please ask on http://answers.ros.org .

[2017-02-05 05:52] asimay commented on #523
+1.
I'm writing another global planner demo now, and find this issue also. Original global planner's makePlan function is called back much more times than we expected, even though we send relative "goal" msg only once.

[2017-02-05 06:13] asimay commented on #523
I can test this in these days. will give you feedback later. Thanks!

[2017-02-05 07:20] asimay commented on #541
I think the "hole" is not too important if your robot drive around it and can clear it.
the "grid" is very small compared to your visual map. maybe something too small you cannot see occupied the grid, so the inflation is strange sometimes. If it can clear, it's nothing.

[2017-02-05 07:35] zkytony commented on #541
@asimay Thanks for the attention. The problem is that with the holes present, global planner fails to make a plan, even when there is an obvious path.

But time has went by, and I was able to work around this by having an FSM that executes additional recovery behaviors, which may bring the robot to somewhere that a global plan can be made. I also have ways to set a series of closer goals.

[2017-02-06 13:57] asimay commented on #514
I think 0,1,2 is x,y,yaw.
0.5 is means half cell, and the center of a cell.

[2017-02-09 05:34] asimay commented on #523
hi, dear @corot , I test the new changes.
And it works well in normal case.
but if the robot stuck in recovery mode, the "makePlan" still works too much time.

Backgroud: if the goal set too near the inflation layer or in inflation layer, this is made deliberated, the robot will stuck in recovery mode, and oscillate over and over again, and this made the max_retries invalid.

please see screenshot

[2017-02-09 08:06] corot commented on #523
Hi @asimay , thanks a lot for testing the PR!
which value you have in max_planning_retries? Then, can you count the calls to makePlan? if the PR is correct, I suppose it should get called (max_planning_retries + 1) * <number of recovery behaviors>. If not the case, you are right, there's something wrong in the PR.

[2017-02-11 09:38] asimay commented on #523
Hi, Dear @corot , I set `max_planning_retries=0` . the calls maybe 6-7 times in my case.
yes, in normal case, it works good if the goal is correct and turtlebot works smoothly, the called time is  exactly (max_planning_retries + 1).
it is only uncertain in abnormal cases, for example, the goal coordinates is in obstacle's inflation_radius or too close to obstacle, this will caused the turtlebot lo

[2017-02-21 08:38] tutorgaming commented on #34
Hello from 2017, Is there any solution implemented or available to fix this issue?

[2017-02-21 14:11] haochihlin commented on #433
Hi,

I also faced the same issue, so I tried to trace related source codes and found something probably are the causes of the problem. But I am not sure, so maybe someone in here could give me some suggestions?

My opinion (or guessing)：
the trajectory created by DWA are scoring based on 6 critics, one of it is the distance between current robot pose and local goal. And the local goal is set by th

[2017-02-22 05:54] QinZiwen commented on #433
@jim1993 I don't know what is "U-turn" shap?

[2017-02-23 03:51] asimay opened #556 "bug in inflation_radius ."
bug as follows:
if deliberately set ` inflation_radius=0.0` in common_cost.yaml will cause move_base hang down.
as belows.  the code should protect the value's scale settings.

![inflation](https://cloud.githubusercontent.com/assets/8703449/23244295/3b9277fa-f9bf-11e6-99a8-20f73a3c3470.png)

[2017-04-14 22:13] kctess5 opened #566 "Faster ray casting methods for AMCL"
I [posted in the forum](https://groups.google.com/forum/#!topic/ros-sig-navigation/fVGMJ7p32iE) about this already, and I was recommended to file an issue here.

I have implemented several fast ray casting methods for 2D occupancy grids, analogous to [map_calc_range](https://github.com/ros-planning/navigation/blob/53087ca5242fb40f06c84a6bcc74057c3470eff7/amcl/src/amcl/map/map_range.c) used in AMCL

[2017-04-16 07:44] mikeferguson commented on #566
If you're changing the particle filter and ray casting methods, you're not updating AMCL, you're pretty much replacing it. Given that, I'd suggest releasing a standalone package, that provides one or more nodes that have similar ROS interfaces and parameters to AMCL, and then documenting and advertising those nodes so users can try them out and decide what to use on their robot.

Standalone packag

[2017-04-16 11:21] mikeferguson commented on #553
Definitely a bug -- this is a feature that was recently added and I believe is not frequently used. It's possible the author didn't spend much/any time using dynamic reconfigure with it.

[2017-04-16 12:21] #514 closed, assigned to nobody

[2017-04-16 23:34] #553 closed, assigned to nobody

[2017-04-17 17:13] kctess5 commented on #566
Thanks for the response.

I've written this package: [https://github.com/mit-racecar/TA_example_labs/tree/master/ta_lab5](https://github.com/mit-racecar/TA_example_labs/tree/master/ta_lab5) for particle filtering. It doesn't implement KLD sampling but it is quite fast on our platform. We are working on making it a bit more accessible/consistent and well documented (will have more time for this ove

[2017-04-25 17:41] mikaelarguedas opened #572 "Lunar release"
Hi @mikeferguson, @DLu and navigation stack maintainers!

As you may know the next ROS release Lunar Loggerhead is around the corner :tada:
While there is still a dependency not satisfied in order to release the nav stack (pcl_perception should land in the next day or two), I'm poking you now so that you can get started on the work needed to get this released.

While not being required by desktop-

[2017-04-25 22:07] mikeferguson commented on #572
Release should be pretty straight-forward once the depends land -- especially since someone already released BFL (my most hated ROS package). If you would be so kind as to poke again once that depend has cleared, I can probably release over the weekend.

[2017-04-25 22:17] mikaelarguedas commented on #572
Great news!

will do,

thanks for the quick reply, appreciate it

[2017-04-26 08:09] romainreignier opened #573 "The map_server keeps the init stamp for the map so 0 in simulation."
The `map_server` uses its launch time for the stamp of the map message ([here](https://github.com/ros-planning/navigation/blob/43e9297d588276efa9868efe2ed56ac6bf08e180/map_server/src/main.cpp#L179), which makes sense).

But in case we use it with Gazebo, there is no `ros::Time::waitForValid()` statement so if they are launched at the same time, the stamp is always 0.

I do not know if it is the ex

[2017-04-26 11:27] juanluishortelano commented on #262
This issue is still present as of today, it would make my life so much easier. Any input on this?

[2017-04-26 22:06] mikaelarguedas commented on #572
@mikeferguson FYI: All dependencies [have been released](http://repositories.ros.org/status_page/blocked_releases_lunar.html?q=id%3D%22navigation%22&s=6&r=1) and built successfully :tada:

[2017-04-27 08:44] juanluishortelano opened #574 "What heuristic is the A star algorithm using in global planner?"
Hi, reading the code I am having a bit of trouble understanding what kind of heuristic the algorithm is using, if it is euclidean or manhattan distance or something different

[2017-04-27 17:21] DLu commented on #574
[Manhattan distance.](https://github.com/ros-planning/navigation/blob/kinetic-devel/global_planner/src/astar.cpp#L92)

[2017-04-27 17:21] #574 closed, assigned to nobody

[2017-05-08 15:17] mikaelarguedas commented on #572
@mikeferguson Friendly ping

[2017-05-16 14:28] doisyg opened #577 "Additional costmap layers?"
Hi,
To understand better how layered costmaps work, I read the great paper describing them by David Lu!!: http://wustl.probablydavid.com/publications/IROS2014.pdf
However the paper lists layers that appears to be very useful but that i did not find anywhere: Caution Zones Layer, Claustrophobic Layer, Hallway Layer and Wagon Ruts Layer.
Are they implemented somewhere?

[2017-05-19 01:35] DLu commented on #577
Most of them are not independently implemented, but implemented as various forms of the static or social layer.

[2017-05-19 01:35] #577 closed, assigned to nobody

[2017-05-20 23:09] mikaelarguedas commented on #572
@mikeferguson FYI: I ran the prerelease tests and it looks like navigation can be released into lunar with very few changes. The only error I faced is described in and fixed by https://github.com/ros-planning/navigation/pull/578

[2017-05-22 00:53] wangzhaodong123 opened #579 "Could NOT find SDL (missing: SDL_LIBRARY SDL_INCLUDE_DIR)"
When i make my space,i met this problem:
Could NOT find SDL (missing: SDL_LIBRARY SDL_INCLUDE_DIR)
Call Stack (most recent call first):
  /usr/share/cmake-2.8/Modules/FindPackageHandleStandardArgs.cmake:315 (_FPHSA_FAILURE_MESSAGE)
  /usr/share/cmake-2.8/Modules/FindSDL.cmake:176 (FIND_PACKAGE_HANDLE_STANDARD_ARGS)
  navigation/map_server/CMakeLists.txt:11 (find_package)
I'm a freshman,looking for

[2017-05-28 15:46] ytgui opened #580 "Hitting wall when the global path is round"
Hi,
I used move_base for a long time with excellent results. But I get into trouble now and could not solve it.

Look at this picture, the local path could not follow global path when the global path is round, it seems that local path towards to destination directly.

![img_1](https://preview.ibb.co/kWkDyF/TIM_20170528153023.png)
![img_2](http://i.imgur.com/QNg9Jhl.png)

here's my enviroment:
Ubun

[2017-05-30 21:57] DLu commented on #580
Please use ROS Answers for this sort of debugging. However, I'd start by making sure your local_costmap is configured correctly.

[2017-05-30 21:57] #580 closed, assigned to nobody

[2017-05-30 22:08] DLu commented on #572
There is now a lunar branch. (Just lunar because we don't really have kinetic-release branches, and simpler is better)

[2017-05-30 22:25] mikaelarguedas commented on #572
:+1:
you should be able to change the base branch of https://github.com/ros-planning/navigation/pull/578, otherwise let me know I'll modify it to target lunar

[2017-06-01 16:38] corot opened #583 "Local Costmap Using Static Layer gets polluted by fake obstacles"
Hi, following #197, I'm currently using a static layer on a rolling window costmap. It works fine if you update the static layer first, then the obstacle one. But for some reasons I need to do the opposite, I want to update the obstacles first. This works with the flag use_maximum = true, but then I get some weird "trailing obstacles" in the first row and column pixels:
![image](https://cloud.gith

[2017-06-02 07:22] jiangxinyu opened #584 "move_base crashes and get the Inflation and get seen array size is wrong warning"
I am using the kinetic-devel of the navigation, and some times I will get the warning and move_base crashes. The warning is showing as follows. How can I solve this problem? Please help me.
 [ WARN] [1490717432.681795824]: InflationLayer::updateCosts(): seen_ array size is wrong
[move_base_node-35] process has died [pid 2016, exit code -11, cmd /root/benewake/devel/lib/move_base/move_base /cmd_vel

[2017-06-03 16:49] AustinDeric commented on #579
I am having the same issue:

libsdl2-2.0-0 is already the newest version (2.0.4+dfsg1-2ubuntu2).
libsdl2-dev is already the newest version (2.0.4+dfsg1-2ubuntu2).

running ubuntu 16.04 and ROS kinetic

[2017-06-07 16:16] mikaelarguedas commented on #572
@DLu Anything else I can do to help moving this forward?

[2017-06-10 21:06] athtest800 commented on #579
Hi!
`sudo apt-get install libsdl-image1.2-dev` and
`sudo apt-get install libsdl-dev`. These solve the issue.

[2017-06-16 10:04] hcv1027 commented on #468
Hi @corot, I just merge your pull request "Speedup (~60%) inflation layer update #525"
But it still shows the warning log: "Map update loop missed its desired rate of 5.0000Hz... the loop actually took 0.7620 seconds". Does your merge request #525 can fix this problem or it's another problem?

[2017-06-16 10:58] bulwahn opened #586 "call of overloaded 'abs(unsigned int)' is ambiguous in amcl with gcc-7.1"
When compiling amcl with gcc-7.1 in the cross-compiliation setup of meta-ros, amcl fails with:
[code]

The reason for gcc raising this error is also described in the gcc porting page (https://gcc.gnu.org/gcc-6/porting_to.html#overloaded-abs).

A simple solution is to avoid to use the `abs` function, as already suggested in
https://github.com/ros-planning/navigation/issues/518.

The full error mess

[2017-06-19 07:55] corot commented on #468
Hi @hcv1027,
well, you should see the " loop actually took xxx seconds" figure decreased after merging, for sure, and this decrese should be easily noticeable. But not necessarily remove the WARN, if your update rate is too high for your CPU and costmap size/resolution.

Just to be sure, can you double check that you are running the compiled version? If you don't see any performance improvements,

[2017-06-20 16:33] fishcu commented on #584
I am running into the same problem. Very annoying. I am using a very standard navigation setup. The resulting crash is either referenced to as "corrupted double-linked list", or as "invalid free()". Clearly, it is related to some memory trashing bug. Maybe it is related to maps changing the resolution? What would be the right steps to debug this?

[2017-06-22 14:20] fishcu commented on #584
I think this bug is caused by an oversight in multithreading. I fixed the bug by replacing this function in costmap_2d.cpp:
[code]

With my fixed version:
[code]

The problem was caused because the mutex lock would only get into effect after the size had already been changed. This caused another thread to think the map was already resized, and hence the "seen array size is wrong" error. By putttin

[2017-06-23 22:19] iretiayo commented on #503
We're having the same issue but in the negative direction. Navigation works well when the goal  is set in the -x direction with respect to the map origin, but it doesn't work when the goal is in the +x direction. Is there a fix for this yet?

[2017-06-28 15:29] mikaelarguedas commented on #572
@mikeferguson @DLu 2-month anniversary ping. Is there anything preventing this release? (except from the lack of time :wink: )

[2017-07-06 14:54] vik748 opened #588 "AMCL set particles using pose array"
Hey folks,
I have written a new service for AMCL called 'setParticles' similar to the Global Localization service.  This service accepts a PoseArray msg and initializes the particle filter to this set of poses.  We use this for coming up with schemes to fuse data between multiple robots.  If there are others who would be interested in the feature, I'd be happy to share.

[2017-07-07 03:24] billdavidzyb commented on #579
thanks @athtest800 ! That perfectly solved my problem!

[2017-07-11 01:16] boilerbots commented on #579
I see that map_server won't build and so I changed to SDL2 and had to remove SDL_image because SDL2_image  doesn't install a proper cmake config and it can't be found. Then I had to add explicitly "SDL2_image-2.0" to map_server_image_loader.

[2017-07-13 20:19] jadhavan commented on #166
Is there any quick solution for this issue?

[2017-07-13 22:32] DLu commented on #572
https://github.com/ros/rosdistro/pull/15487

https://www.youtube.com/watch?v=U7bGgcHpL1Q

[2017-07-13 22:33] mikaelarguedas commented on #572
:tada: :tada: thanks @DLu

[2017-07-13 23:57] mikaelarguedas commented on #572
@DLu I think you need to make a new release for the changes from #578 to be applied. Without it the jobs will fail on Debian stretch (http://build.ros.org/view/Queue/job/Lbin_ds_dS64__costmap_2d__debian_stretch_amd64__binary/1/console)

[2017-07-19 12:22] gavanderhoorn commented on #572
Just ran into this with a ROS Answers poster: [Debian Jessie ROS Install - Dependencies issues](http://answers.ros.org/question/239761) (since migrated to Stretch).

[2017-07-20 13:46] vik748 opened #592 "AMCL doesn't throw error when it receives maps on the correct topic but not matching the global_frame_id"
Currently,
AMCL seems to proceed as if every thing is good if it receives maps on the specified map_topic even if the frame_id on the map doesn't match global_frame_id.  In this case AMCL essentially is unable to scan map to the map being published and thus the error on the particles keep growing.  A simple fix should be able to warn users that the map being published is not being used by AMCL bec

[2017-07-21 12:34] akifh opened #593 "costmap_2d seg faults randomly with footprint_clearing_enabled set to true"
Hi,

I have obstacle layer (`costmap_2d::ObstacleLayer`) with `footprint_clearing_enabled` parameter set to true. Not always, but at a random point in time, I receive segmentation fault, and `move_base` dies. After some debugging and testing with `gdb`, I have this backtrace. Seems like it is related with `setConvexPolygonCost` method. (Ubuntu 16.04 & Kinetic)

[code]

Any idea on this?

[2017-07-28 07:35] mikeferguson commented on #518
Likely fixed by #587

[2017-07-28 07:35] #518 closed, assigned to nobody

[2017-07-28 07:35] mikeferguson commented on #586
#587 fixes this in kinetic and above

[2017-07-28 07:35] #586 closed, assigned to nobody

[2017-07-28 07:38] mikeferguson commented on #592
Seems reasonable -- pull request for proposed simple fix would be accepted.

[2017-07-28 08:08] mikeferguson commented on #507
Seems there isn't a strong reaction to implementing this, going to close.

[2017-07-28 08:08] #507 closed, assigned to nobody

[2017-07-28 08:11] mikeferguson commented on #573
I can't think of any downside. If it makes simulation vs. robot more consistent, seems like a good idea. I'd recommend we only roll such a change out in Lunar or later at this point (not sure if there is a way that people could be leveraging that simulated behavior, would rather not break it if they are)

[2017-07-28 08:26] mikeferguson commented on #515
I think what has happened here is that someone just copied the same lines below (inside the while loop, after the step has been applied). The value of 0 is correct (the range is zero since the starting box is occupied) and the compiler is probably smart enough to optimize out the maths, so there is no computation penalty. I'm going to close this issue, since it's not really a big deal.

If you're

[2017-07-28 08:26] #515 closed, assigned to nobody

[2017-07-28 08:57] mikeferguson commented on #593
Without debug symbols, I think this will be fairly impossible to figure out.

[2017-07-28 09:07] mikeferguson commented on #544
Is this actually an issue though in practice? It would seem to me that most of the time the uninitialized value would be far enough away that the oscilliation_pose_ gets reset, and if it isn't, then that pose is probably pretty valid for oscillation_pose_. I suppose we could also check that the timestamp of the pose is valid though, which would be a quick fix.

[2017-07-28 09:22] mikeferguson commented on #527
costmap_2d appears to properly export the PCL headers and dependencies -- I presume your project did not "find_package(catkin REQUIRED COMPONENTS costmap_2d)"?

[2017-07-28 09:27] corot commented on #441
Same with the [global planner](https://github.com/ros-planning/navigation/blob/ada542feae238cc85eeab9944cc39e37eee93481/move_base/src/move_base.cpp#L450). I think it makes sense to lock the costmaps when about to read them in the planners, so you don't read them right when they are cleaned (I have seen this happens often), but that should be the responsibility of the planners themselves, done in t

[2017-07-28 09:34] mikeferguson commented on #579
The apt-get rules mentioned above correspond to the rosdeps of the build/run depends on map_server package. So I think this is not a problem with the code/packaging.

For future users coming along, you can install all the required dependencies of your ROS workspace by running the following magic in your workspace (often ~/indigo or ~/kinetic), just be sure to set your rosdistro correctly:
[code]

[2017-07-28 09:34] #579 closed, assigned to nobody

[2017-07-28 09:55] mikeferguson commented on #583
This is basically a stream of thoughts, since I should have probably gone to bed a few hours ago:

 * If the static_layer runs updateCosts() after obstacles, doesn't your hack clear out all your obstacles from the master_grid?
 * The LayeredCostmap clears out the master_grid on each iteration (https://github.com/ros-planning/navigation/blob/53087ca5242fb40f06c84a6bcc74057c3470eff7/costmap_2d/src/l

[2017-07-28 12:49] stonier commented on #441
+1

[2017-07-28 15:47] vik748 commented on #592
@mikeferguson I am very new to github.  What is the best way for me to submit the changes?  Do I created a new forked repo and then submit that or do I create a new branch in this repo and request that to be merged?

Thanks,
Vik

[2017-07-31 21:42] mikeferguson commented on #492
No response, closing

[2017-07-31 21:42] #492 closed, assigned to nobody

[2017-07-31 21:45] mikeferguson commented on #483
Addressed in #548

[2017-07-31 21:45] #483 closed, assigned to nobody

[2017-07-31 22:07] mikeferguson commented on #572
Once the package v2 stuff is merged, I'll do another release (should be late today or early tomorrow)

[2017-07-31 22:07] #572 closed, assigned to nobody

[2017-07-31 22:42] mikeferguson commented on #104
I can no longer reproduce this, and hydro is long since dead

[2017-07-31 22:42] #104 closed, assigned to nobody

[2017-08-01 02:27] #556 closed, assigned to nobody

[2017-08-01 02:41] mikeferguson commented on #516
I think the notion was: most robots had a single forward-facing laser and didn't have sensors behind them, and so they probably have an inaccurate understanding of the world back there so checking the costmap was already fairly useless.

That's probably no longer the case in many cases, and so adding (optional) costmap checking sounds like a great enhancement. Pull requests welcomed.

[2017-08-01 02:41] #527 closed, assigned to nobody

[2017-08-01 02:43] mikeferguson commented on #468
I just tested on one of our robots and I don't see huge delays from debs -- however, if I build source without -DCMAKE_BUILD_TYPE=Release, well, that's a different story, nothing runs in allotted time. I don't recall having to specifically call out Release in the past... but can't figure out how that would have changed.

[2017-08-01 02:51] mikeferguson commented on #592
@vik748 new forked repo (you won't have permissions to create branches on this particular repo). Ideally a feature branch within your repo (so you can easily pull in updates to your fork). Then open a PR against this repo. Thanks!

[2017-08-01 03:05] mikeferguson commented on #384
Local testing shows that this parameter is working -- both from command line and through dynamic reconfigure -- I'm guessing the issue might be that you are setting the parameter in the wrong name space (the parameter is ~update_min_d, so it has to be in the namespace under the name of the amcl node (typically "amcl/update_min_d"))

[2017-08-01 03:05] #384 closed, assigned to nobody

[2017-08-01 06:19] #156 closed, assigned to nobody

[2017-08-01 07:04] mikeferguson commented on #503
I've never seen this. One thing that does jump out to me about your config -- why is min_vel_x negative? For most people this is slightly positive (most robots can't actually move at infinitesimally small velocities), or at least 0.

[2017-08-01 07:12] mikeferguson commented on #118
We did fix a number of cost map memory issues (per valgrind) in 2015: https://github.com/ros-planning/navigation/issues/341 & https://github.com/ros-planning/navigation/issues/342. At this point, I think the references above are pretty out of date (4+ years), and we should open new tickets if/when memory issues are found.

[2017-08-01 07:12] #118 closed, assigned to nobody

[2017-08-01 07:17] mikeferguson commented on #135
Going to close this as "will not fix". We've got some folks in the community who are helping to move us to tf2 and off PCL altogether (which will make this completely irrelevant). In the meantime, newer ROS releases have also dropped much of their 32-bit support.

[2017-08-01 07:17] #135 closed, assigned to nobody

[2017-08-01 07:26] mikeferguson commented on #405
In order to make the navigation stack work, it really needs to be tuned to keep the controller/planners working at the right frequency. Certainly, the default PR2 nav used to do this (I can't speak about it post-2014 or so). I know our Fetch robots (with a fraction of the processing power that a PR2 has) do a fine job on less than quarter of an i5 processor. If you really can't keep the controller

[2017-08-01 07:26] #405 closed, assigned to nobody

[2017-08-01 07:46] mikeferguson commented on #320
We've done a number of improvements on mutexes over the past two years, but it looks like this one still exists. I think we need to do two more things thought:

 * "staticLayer::IncomingMap()" needs to lock the costmap mutex for the duration (that way, it can't do a resize/clear during planning, as makePlan() has locked the cost map). This would probably drastically reduce the occurrence of this s

[2017-08-01 18:06] mikeferguson commented on #517
Fix about to be merged into lunar. Merge into I+K requires a bit of PR update, which I imagine will happen shortly.

[2017-08-01 18:06] #517 closed, assigned to nobody

[2017-08-01 18:14] mikeferguson commented on #474
When we originally merged this, I was not treating the "image_loader" library as needing ABI/API compliance because I didn't think anything depended on it. I guess that's not the case, and since we do export it in the CATKIN_LIBRARIES, we should probably preserve the signature.

However, I realize this has sat for almost a year -- and so I have to ask have downstream libraries really not updated a

[2017-08-01 18:27] mikeferguson commented on #122
Per #135, will not further fix

[2017-08-01 18:27] #122 closed, assigned to nobody

[2017-08-01 18:28] mikeferguson commented on #166
Adding "help wanted" tag -- AFAIK there are no active developers with a plan to tackle this (would also need to tackle the AMCL-related issue mentioned above). If someone is interested in tackling this, please speak up!

[2017-08-01 18:29] mikeferguson commented on #217
Adding "help wanted" tag -- AFAIK there are no active developers with a plan to tackle this (would also need to tackle the costmap-related issues in #166). If someone is interested in tackling this, please speak up!

[2017-08-01 18:33] mikeferguson commented on #523
Fix should be merged shortly.

[2017-08-01 18:33] #523 closed, assigned to nobody

[2017-08-01 21:27] vik748 commented on #592
Pull request #604 submitted.

[2017-08-02 01:37] mryellow commented on #474
Not sure, haven't been running ROS recently.

Looks like the last build I did used the main `navigation` release repo rather than my fork though.

[2017-08-02 09:29] corot commented on #468
Yes, I noticed the same effect, so we always compile on Release. That said, compile on Debug is the right thing to do by default when running the code. But maybe a warning and the advice to compile on Release if performance is needed, either on github or wiki, would make sense.

[2017-08-02 20:37] zkytony commented on #503
`min_vel_x` was negative because we want the robot to be able to move backwards.

[2017-08-02 20:43] mikeferguson commented on #503
Out of curiosity, if you set it to slightly positive, does this slowness still occur?

[2017-08-02 22:22] mikeferguson commented on #592
Fixed in kinetic & lunar

[2017-08-02 22:22] #592 closed, assigned to nobody

[2017-08-02 22:46] mikeferguson commented on #441
To a large extent, the default planners all assume a consistent world state throughout a planning cycle. I concur that it probably *should* be in the planner itself, but that is made slightly difficult because while we can update all the default planners, we don't have the ability to update all the planners out there that may be relying on our costmap locking in move_base.

I would suggest that if

[2017-08-02 22:46] mikeferguson commented on #441
Adding help wanted to note that maintainers do not currently plan to tackle this, but PRs are welcome!

[2017-08-02 22:52] mikeferguson commented on #541
Link to videos has gone dead.

[2017-08-03 01:53] zhangyongzhe20 opened #608 "Add a new plugin in move_base"
Hi,
     I want to know if it is possible to add one more plug-in in the move_base. My purpose is that I just want to use the costmap_2d directly like if some obstacles appear in the certain area, then I publish a Marker_msg.

[2017-08-03 06:49] corot commented on #441
FYI, on the new [move base flex](https://github.com/magazino/move_base_flex/issues/4), we plan to drop this locking and advice plugin developers to adapt their code.
As a showcase of why we think this is a good thing, the sbpl_lattice_planner can take an arbitrary time to compute a plan (configurable), while it just need some tens of milliseconds to make his own copy of the global costmap.

[2017-08-03 18:21] DLu commented on #608
This question is unclear and would be better handled on answers.ros.org

[2017-08-03 18:21] #608 closed, assigned to nobody

[2017-08-05 17:36] mikaelarguedas commented on #572
@mikeferguson friendly ping

[2017-08-07 11:34] jabbenseth opened #610 "New Releaseses for Kinetic"
Hello,

i'm kindly asking for a new release for kinetic. Our CI breaks due to missing returns on kinetic, which were already patched by https://github.com/ros-planning/navigation/pull/535
Can we expect a kinetic release soon keeping in mind the recent lunar release?

Regards

[2017-08-07 18:34] mikeferguson commented on #441
I've changed the title of this ticket to the actionable fix we want to implement

[2017-08-07 18:52] mikeferguson commented on #572
working on it right now -- release done, just blooming

[2017-08-07 18:55] mikaelarguedas commented on #572
awesome! thanks @mikeferguson !

[2017-08-07 19:07] mikeferguson commented on #610
Should happen sometime later today -- I already tagged the release this morning, but bloom takes about half an hour on this repo.

[2017-08-07 19:40] mikeferguson commented on #572
https://github.com/ros/rosdistro/pull/15727

[2017-08-07 22:01] mikeferguson commented on #610
https://github.com/ros/rosdistro/pull/15730

[2017-08-07 22:01] #610 closed, assigned to nobody

[2017-08-08 06:14] jabbenseth commented on #610
Sorry for my impatience and thank you very much

[2017-08-08 08:49] akifh commented on #593
Hopefully, I will try to catch it again with symbols.

[2017-08-08 18:52] tfoote opened #612 "map_server 1.14.1 and 1.15.0 are failing to export pthread correctly and is breaking downstream packages"
There are 3 regressions with the same issue:
http://build.ros.org/job/Kbin_uX64__turtlebot3_navigation__ubuntu_xenial_amd64__binary/
http://build.ros.org/job/Kbin_uX64__stdr_server__ubuntu_xenial_amd64__binary/
http://build.ros.org/job/Kbin_uX64__multi_map_server__ubuntu_xenial_amd64__binary/

![image](https://user-images.githubusercontent.com/447804/29089036-e138f934-7c2f-11e7-983d-b6770677556d.p

[2017-08-10 07:19] iluetkeb commented on #441
Can I ask for some clarification on the motivation here, please?

Firstly, it's the move_base node which combines perception and planning. Therefore, it is the place that knows whether there is a possibility for conflict on shared resources, and thus it should do the locking. It's a fairly easy mod to make the locking go away completely, for example.

Secondly, I don't see the point. @AlexReimann

[2017-08-10 08:17] AlexReimann commented on #441
Yeah that are some valid points if you run all standard ros navi stack.

Once you go away from that and e.g want to use the costmaps also from other modules then, nope.
As far as I know most companies use a modified version of the navi stack, maybe switching out planners, using a different costmap layers and so on.

Even if you just switch out planners, having the costmap locks in the move_base ab

[2017-08-10 09:16] iluetkeb commented on #441
@AlexReimann Can you say a bit more about which performance issues you're seeing, concretely? It would help us understand what the requirements of those "other modules" are, that require a different locking strategy.

From my side, I would say, locking in a fine-grained manner is __not__ better in general. It is a guiding principle to hold a lock as short as possible, but this is just one of sever

[2017-08-10 09:41] AlexReimann commented on #441
Other process is also using the costmap, global or local planner is taking long and thus slows down this unrelated process down.

If the locking is planner specific it is up to the planner to lock it the whole time or only every time it is accessing it.
Architecture wise it would make sense to have locking and non-locking access (depending on the interface you use) and getCopy functions for the co

[2017-08-10 09:47] iluetkeb commented on #441
@AlexReimann From my own benchmarking on DWA-derived local planners, the part that takes the longest overall is the scoring -- and this needs read access to the costmap. Also, scoring needs to compare different trajectories, so it mustn't change inbetween. Fine-grained locking has no benefit here.

For local planners where the trajectory generation step takes longer (e.g., due to use of a more com

[2017-08-10 09:51] iluetkeb commented on #441
Another approach could be to use reader-writer locks, but this wouldn't enable as much parallelism, due to the serialization constraint between costmap updates and planning.

[2017-08-10 10:04] AlexReimann commented on #441
I also don't have anything for benchmarking available anymore. It is a no-issue now for us but I think still would be an good improvement (although I am strongly for a full re-write of this thing).

Yeah the stages approach would work for the sake of backwards compatibility.

[2017-08-10 10:57] iluetkeb commented on #441
@AlexReimann will you be at ROSCon? If yes, how about a chat?

[2017-08-10 21:12] mikeferguson commented on #612
@tfoote -- I never got any build failure emails for this, but I am listed as a maintainer. Thoughts?

[2017-08-10 21:13] mikeferguson commented on #612
Oh, never mind, I see, we broke downstream things

[2017-08-10 21:19] mikeferguson commented on #612
I'm guessing this affects lunar as well, but none of the "busted" downstream things are released there yet

[2017-08-10 21:26] mikeferguson commented on #612
@tfoote -- how did you determine it was pthread related?

[2017-08-10 21:45] tfoote commented on #612
The errors in all the failing builds at the core are: `Project 'multi_map_server' tried to find library '-lpthread'. `

Digging a little deeper now and looking inside the generated package config file map_server.pc (from the [testing deb](http://repositories.ros.org/ubuntu/testing/pool/main/r/ros-kinetic-map-server/ros-kinetic-map-server_1.14.1-0xenial-20170807-144208-0800_amd64.deb)) I see the fo

[2017-08-10 21:50] tfoote commented on #612
I've confirmed the same issue is in lunar. FYI @mikaelarguedas

The map_serverConfig.cmake generated into the debians has this line that I think is the same issue.
`set(libraries "map_server_image_loader;/usr/lib/x86_64-linux-gnu/libSDLmain.a;/usr/lib/x86_64-linux-gnu/libSDL.so;-lpthread;/usr/lib/x86_64-linux-gnu/libSDL_image.so")`

[2017-08-11 00:53] mikeferguson commented on #612
@wjwwood -- I think this is related to https://github.com/ros-planning/navigation/pull/560, since that is the only thing adding new libraries. Do you have any idea how we can fix it?

[2017-08-11 01:41] k-okada commented on #612
This is very interesting and now I understand why our multi_map_server failes to build
`#find_package(SDL REQUIRED) `
https://github.com/ros-planning/navigation/blob/kinetic-devel/map_server/CMakeLists.txt#L12
provides
`SDL_LIBRARY = /usr/lib/x86_64-linux-gnu/libSDLmain.a;/usr/lib/x86_64-linux-gnu/libSDL.so;-lpthread`

This was set by
https://gitlab.kitware.com/cmake/cmake/blob/master/Modules/Find

[2017-08-11 03:00] AlexReimann commented on #441
Nope, I sadly won't be at ROSCon.
Also might tune out of this issue as I will quit the company soonish and have no idea what I will work on next :>

[2017-08-11 07:45] corot commented on #441
I @iluetkeb,  I'll be at ROSCON;  hope we will have plenty of time to talk about navigation!

For the example about the global planner I mentioned above, believe me, we have VERY big environments to deal with. And making the local, planner-specific copy of the costmap takes negligible time compare to the planning itself.

FYI, and sorry for the off-topic: talking about alternative navigation frame

[2017-08-11 07:53] iluetkeb commented on #441
@corot I guess it depends on your planning architecture. We typically first use topological planning for planning in the large, and then a costly planner (not from SBPL exactly, but close enough) only for relatively short paths, between the nodes of the topological graph. In this situation, planning doesn't take so long, and the overhead of copying the map would be considerable, I surmise.

btw, I

[2017-08-11 08:11] wjwwood commented on #612
I came to the same conclusion as @k-okada, I think the offending flag is coming from SDL, and I'm not sure what we're supposed to do about that. I suppose we could try removing the flag as @k-okada suggested.

[2017-08-14 18:30] mikeferguson commented on #612
Doesn't even look like those downstream packages are building anything against our library -- I'm going to revert the SDL additions for now, so we can get this released.

[2017-08-15 01:09] #612 closed, assigned to mikeferguson

[2017-08-15 02:27] mikeferguson commented on #612
New releases:
* https://github.com/ros/rosdistro/pull/15777
* https://github.com/ros/rosdistro/pull/15778

[2017-08-17 17:58] zkytony commented on #541
@mikeferguson Sorry for the late reply. I have uploaded one of those videos to Youtube: https://youtu.be/_mvyDoMls2U

In this video, the `global_planner` appears to not able to make a plan to the upper-left room.

[2017-08-17 18:04] zkytony commented on #503
@mikeferguson Good question. I haven't tested that. I'll test it soon. If that changes anything, the move_base local planner would be even more strange...because in those videos, the robot only needs to move forward. I'm not sure what role the minimum velocity plays in the empty environment video, in particular.

[2017-08-22 04:16] dahlan77 opened #617 "CMake Error"
When i cmake navigation with ros indigo

I got some errors that i havent met before

how to repair this errors?

 Using these message generators: gencpp;genlisp;genpy
CMake Error at /usr/share/cmake-2.8/Modules/FindPackageHandleStandardArgs.cmake:108 (message):
  Could NOT find Bullet (missing: BULLET_DYNAMICS_LIBRARY
  BULLET_COLLISION_LIBRARY BULLET_MATH_LIBRARY BULLET_SOFTBODY_LIBRARY
  BULLET_

[2017-08-22 04:47] dahlan77 opened #618 "move_base_msgs error"
i installed with ros indigo

and i compiled it and meet some errors

anyone can suggest to me to fix this error

 +++ processing catkin package: 'simple_navigation_goals'
-- ==> add_subdirectory(simple_navigation_goals)
-- Using these message generators: gencpp;genlisp;genpy
CMake Warning at /opt/ros/indigo/share/catkin/cmake/catkinConfig.cmake:76 (find_package):
  Could not find a package configu

[2017-08-22 09:38] corot commented on #583
Looks like all was an artifact created by another layer. Disappeared magically after changing it!

[2017-08-22 09:38] #583 closed, assigned to nobody

[2017-08-28 15:58] DLu commented on #618
Please use answers.ros.org for this type of inquiry, as the problem sounds like it originates in your `simple_navigation_goals` package and not move_base.

[2017-08-28 15:58] #618 closed, assigned to nobody

[2017-08-28 16:00] DLu commented on #617
It looks like you don't have the proper dependencies for the navigation stack. Use `rosdep` to install them. http://wiki.ros.org/ROS/Tutorials/rosdep

[2017-08-28 16:00] #617 closed, assigned to nobody

[2017-08-30 04:24] tcassell94 commented on #503
Don't know if you've had any resolution to this, but your config for the x and trans velocities seems off. If your robot is non-holonomic, the values for trans and x velocities/accelerations should match exactly, since the y velocities are always zero. The exception is the min_trans_vel which should be the same magnitude as your min_vel_x, but your min_vel_x may be negative if you want to drive ba

[2017-09-11 23:52] lachyd opened #623 "Recent version deprecates planner_frequency"
As above. I was on a previous version and the planner_frequency properly re-planned the global path as required. On the current kinetic-devel branch, this is no longer the case - setting planner_frequency to any value does not work.

The problem appears to be in the while loop at around line 557 of move_base.cpp. This loop waits for notification on planner_cond_, which is designed to limit the rat

[2017-09-12 20:43] DLu commented on #623
I think this is taken care of with https://github.com/ros-planning/navigation/pull/622

[2017-09-12 20:43] #623 closed, assigned to nobody

[2017-09-16 12:24] Haneesh07 opened #624 "error in spawning robot in ROS and updating the catkin_ws by catkin_make"
![error1ass2](https://user-images.githubusercontent.com/30610865/30512221-7adcecb2-9b3e-11e7-8b27-118ecbc9153a.jpg)

[2017-09-17 07:00] QiangWuCN opened #625 "Typo in Comments of navigation/map_server/src/image_loader.cpp"
The following comments are from the source code navigation/map_server/src/image_loader.cpp, branch: indigo-devel

137   // If negate is true, we consider **blacker pixels free**, and **whiter**
138  // **pixels free**.  Otherwise, it's vice versa

It seems that there is a typo. The suggested correction is as follows:

137   // If negate is true, we consider blacker pixels free, and **whiter**
138

[2017-09-20 09:43] #624 closed, assigned to nobody

[2017-09-20 09:58] pengjiawei opened #626 "Will the parameter padded_footprint_ in costmap_2d_ros.cpp be changed with the cycle?"
in costmap_2d_ros.cpp,when we call the function updateMap(),it will publish the footprint with the cycle,and then,we will always call the funtcion setUnpaddedRobotFootprintPolygon().is that right?

and I found that the parameter padded_footprint_ will be increase with the cycle under the influence of the function transformFootprint() in footprint.cpp and the function setUnpaddedRobotFootprint() in

[2017-09-22 18:59] phil0stine commented on #267
For those interested, there has been an update to the PR that passes tests and has been validated on a real system.

[2017-10-12 23:29] gerkey opened #629 "[RFC] Getting feedback from base controller"
I have a situation in which my robot's base controller (using the terminology from [this block diagram](http://wiki.ros.org/move_base?action=AttachFile&do=view&target=overview_tf.png)) is somewhat complex. It has internal logic by which it might determine that a given `cmd_vel` is impossible to execute (this robot has a steered caster setup with steering limits).

It's easy enough for me to have t

[2017-10-24 13:31] akifh commented on #593
Here it is;

[code]

[2017-10-25 00:45] corot commented on #629
Hi Brian, you are clearly calling for [move_base_flex](https://github.com/magazino/move_base_flex) (hope you attended the presentation at ROSCon! :angry:).

Well, is not exactly what you need, but for sure can accommodate possible solutions way easier than current move_base. A simple option could be, assuming you are using BT or SMACH to control your robot through move_base_flex, to add a "watcher

[2017-10-25 06:46] lucbettaieb commented on #588
If you feel like it could be useful, make a pull request

[2017-10-26 15:57] #625 closed, assigned to nobody

[2017-11-09 14:38] bochen87 commented on #517
Hello, this somehow has not made it into Indigo or Kinetic as of yet. What's the timeline for this to be merged? Would be interested in this fix as we're sometimes facing similar issues.

[2017-11-14 18:05] mfe7 opened #634 "AMCL: Assertion 'cidx >= 0' failed"
I'm using AMCL on Ubuntu 16.04 with Kinetic. The error that often comes up is:
`amcl: .../amcl/src/amcl/pf/pf.c:525: pf_cluster_stats: Assertion `cidx >= 0' failed.`

This sometimes occurs after I send a new initialpose estimate after driving for a few seconds, but I haven't yet found a consistent procedure that causes it to happen.

I have tried building from source and downloading the package wi

[2017-11-16 18:24] DLu opened #635 "Support in map_server for Rather Large Maps"
As reported [here](https://groups.google.com/forum/#!topic/ros-sig-navigation/ekGOmMAMtjM)

I tried to load it to AMCL but map_server cannot even load the map on a PC with 16GB of ram because SDL yell "Out of memory". I manage to load it by cropping some part of the map, but that's not a real solution. I could also lower the resolution, but it would be a temporary fix until I need a bigger map.

[2017-11-21 17:16] mfe7 commented on #634
I built from source with the indigo-devel branch and haven't seen the error (still on 16.04)

[2017-11-21 17:30] mikeferguson commented on #634
Given that new info, there are only two possibly relevant commits in Kinetic that were not in indigo:

 * https://github.com/ros-planning/navigation/commit/65261a83e7269906f726f14d7e8cc30e5f9901f0#diff-f9c8b2ff23a212af56d0b3de46fcf48b
 * https://github.com/ros-planning/navigation/commit/232cfd232068e48ea22ea7df4afbb07bd0f2d8e5#diff-f9c8b2ff23a212af56d0b3de46fcf48b

If I had to guess, I'd think it

[2017-11-23 09:16] tutorgaming commented on #634
I also have this issue. (ros-kinetic)  when trying to set the initial pose from rviz, amcl always crashed.

[2017-11-30 04:40] ryanoldja opened #638 "Failed to create the global_planner/GlobalPlanner planner"
Setup: ROS Kinetic, Ubuntu 16.04

on the TurtleBot platform, when launching the `move_base` node configured for the global_planner/GlobalPlanner, I receive the following error:

`Failed to create the global_planner/GlobalPlanner planner, are you sure it is properly registered and that the containing library is built? Exception: According to the loaded plugin descriptions the class global_planner/G

[2017-11-30 14:24] DLu commented on #638
Please do not cross-post your questions. [answers.ros.org](https://answers.ros.org/question/276939/failed-to-create-the-global_plannerglobalplanner-planner/)

[2017-11-30 14:24] #638 closed, assigned to nobody

[2017-12-02 10:51] GuillaumeHauss opened #643 "LocalCostmap won't use LaserScan to clear robot environment"
Hi all,

I've been trying to set up local costmap on my simulation in Gazebo and Rviz. However, for a reason I'm still struggling to understand, Laserscans received by the node won't clear out the local costmap.
Only the robot radius and robot footprint mark out cells as free.

Here is a screen showing my parameters and what is actually happening in Rviz

![image](https://user-images.githubusercon

[2017-12-02 13:04] GuillaumeHauss commented on #643
Nvm, I started again from scratch and now it works.. The beauty of Computers won't cease to amaze me

[2017-12-02 13:04] #643 closed, assigned to nobody

[2017-12-05 15:07] jim1949 opened #644 "How to add jsoncpp in the cmakelists.txt of navigation for carrort planner."
Hi, this is a new linux user. When I compile my CMakelists, it gives me this error.

[code]

I want to add my own global planner into the ros navigation stack. So I replace everything in carrort planner with "test_planner", and nothing changed otherwise. Now I want to change the content of Make_plan function to make my own plan. I read the pose from a .json file, so I have to use libjsoncpp. So I

[2017-12-06 17:31] DLu commented on #644
As this is not an error with the code in this repository, I'm closing this issue. Please repost it on answers.ros.org to get assistance. Thanks!

[2017-12-06 17:31] #644 closed, assigned to nobody

[2017-12-07 02:00] sradmard opened #645 "Local Costmap Does not Refresh when the Robot is Stationary."
Hi,
I am encountering the issue that my local cost map does not refresh when the robot is stationary. This would create significant problems when there are moving obstacles around the robot. You can observe the behaviour here at 0:22
[Local_costmap_issue](https://youtu.be/sHPK6NG8IzQ
)
Here is how I launch my move_base node in my robot launch file:
[code]
Relevant data are getting published on /ma

[2017-12-10 05:02] SteveMacenski commented on #634
I have also experienced this issue. I see it happen when using `robot_localization` frequently but for some reason doesn't rear its head using `robot_pose_ekf` or not that I'm able to notice in terms of a crash.

[2017-12-11 21:51] DLu commented on #634
@Tutorgaming @SteveMacenski If you can provide replicable steps, it will be easier to debug.

[2017-12-11 21:56] DLu commented on #645
@sradmard This seems to be more of a configuration issue than it is with the code itself. Please make a post on answers.ros.org with the information above. Thanks!

[2017-12-11 21:56] #645 closed, assigned to nobody

[2017-12-12 01:12] SteveMacenski commented on #634
I'm generally unable to trigger it on demand. We don't recall seeing this issue in Indigo either.

I agree the second commit is probably the issue. I would test to see if reverting that resolves the issue but the behavior is sporadic for me. I'll have to wait until next time it comes up to test. If @Tutorgaming could test if it happens more consistently in your application, that would be awesome.

[2017-12-21 10:38] nitin5 commented on #206
Is it solved?

[2017-12-25 07:15] JinglinZhang commented on #634
This issue happens more frequently when set a new pose in the kinetic version. Maybe there's no need to assert cidx >= 0 in line 525 in pf.c.

[2017-12-25 07:28] SteveMacenski commented on #634
I'm not sure that's the most robust answer. From diff 232cfd2#diff-f9c8b2ff23a212af56d0b3de46fcf48b I don't think that situation needs `pf_cluster_stats`. Can someone explain why that was needed or if we can revert that?

I have been running a fork of AMCL with that commit commented out for about 2 weeks now and I haven't seen the issue in that time. I think it would be good @DLu @mikeferguson to

[2017-12-25 10:32] chungying commented on #634
Hi @SteveMacenski, `pf_kdtree_cluster` clusters all samples into several groups to represent multiple hypotheses of robot poses, where a cluster of samples is a hypothesis of a robot pose. `pf_cluster_stats` is needed to calculate sum of weights, mean and covariance of each hypothesis. The cluster with the highest sum of sample weights is the most likely robot pose, and the mean and covariance is

[2017-12-25 10:39] SteveMacenski commented on #634
I'm not questioning the need for it in general, it is called elsewhere in the program, my mistake for being non-specific. This was added in the condition when force_publication = true and resampled = false. If we haven't resampled, why would we need to cluster again?

I've been working fine for 2 weeks removing that recent commit. Before, I hardly went a couple days without seeing it.

[2017-12-25 10:54] chungying commented on #634
Sorry for misunderstanding. However, I think we still need to cluster again because there is a possibility that two moving clusters of hypotheses overlap after `odom_->UpdateAction`.

[2018-01-02 18:53] SteveMacenski commented on #634
Hope everyone had a good holiday-
I've run with this for now 3 weeks. I don't disagree that it could be good but I believe that I have isolated it to this commit.

Can we revert it?

[2018-01-03 00:17] sradmard commented on #645
@DLu as I am trying to solve my problem, I realised that move_base node is not properly publishing the costmap topics. For example, if I try to check the publish rate of /move_base/local_costmap/costmap, using:
$ rostopic hz /move_base/local_costmap/costmap
or
$ rostopic echo /move_base/local_costmap/costmap
you rarely see any information being published (specifically when the robot is stationary)

[2018-01-03 15:26] DLu commented on #645
@sradmard Please debug this on answers.ros.org, not here. Thanks.

[2018-01-23 14:00] maracuya-robotics opened #650 "AMCL dynamic reconfigure fails"
Whenever I try to change a parameter via dynamic reconfigure the parameter is not applied and just a warning is shown in the console:

[code]

ROS Kinetic, AMCL 1.14.2, running in Gazebo using sim_time.

[2018-01-23 14:13] maracuya-robotics commented on #650
The cause of this issue is here: https://github.com/ros-planning/navigation/blob/d2fd4f3c73757dfb2f536a6a3755c71c9fb72361/amcl/src/amcl_node.cpp#L485-L486

Especially `save_pose_rate` will be set to `0` if the initial value was `-1` because it is limited by `0` in the dynamic reconfigure configuration.

[2018-01-24 03:09] drscopus opened #651 "Dwa failed to produce path in free space"
Hi, all. I found a bug for dwa local planner. When the goal is in the -x and -y direction with respect to robot's current pose, the robot moves really slowly, even stop.

For example, the right part of the following image shows the case that the robot stops in the way to a goal as the end of blue line (not dotted blue lines) shows. The left part of the following image shows the output in the termi

[2018-01-24 10:36] par8057 opened #652 "How can i make return system??"
Hi im working with turtlebot3

I want to make literally 'return system' which means that Turtlebot3 goes to goal position and return to the
initial position.
I already succeed to run turtlebot3_navigation package.
But i dont know how to edit a package to make 'return system'
Do you know what i mean???

Please let me know guys

[2018-01-24 14:35] procopiostein commented on #652
We ask that you please ask questions on http://answers.ros.org following our support guidelines:
http://wiki.ros.org/Support

Github Issues is for problems and bugs related to the source code.

ROS Answers http://answers.ros.org/ provides a forum which can be filtered by tags to
make sure the relevant people can find and/or answer the question, and not
overload everyone with hundreds of posts.

[2018-01-25 15:24] #652 closed, assigned to nobody

[2018-01-27 01:50] emilyfy commented on #313
I found it too after wondering why the published topic is on "odom" frame. Tried changing it to output_frame_ and it fixes it and seems to work well.

[2018-01-30 17:26] DLu commented on #651
[Please do not cross-post problems.](http://wiki.ros.org/Support#Etiquette)

We'll have the discussion [on ROS Answers](https://answers.ros.org/question/280648/dwa-failed-to-produce-path-in-free-space/) and reopen this as needed.

[2018-01-30 17:26] #651 closed, assigned to nobody

[2018-02-07 19:50] ccattywampus commented on #34
@Tutorgaming Hello from 2018! Did you ever find a way to work around this?

[2018-02-08 05:50] tutorgaming commented on #34
It seems that I disabled the original RecoveryBehavior and try to recover the robot outside the move_base. Everything works fine .

in the recovery behavior need to somehow connected to the move_base server

[2018-02-10 02:21] h-wata opened #657 "global path planner isn't update in indigo (1.12.14)"
### environment
- ubuntu 14.04
- indigo
- version: 1.12.14(Indigo-devel)
- global_path_planner: navfn
- local_path_planner: base_local_planner
- planner_frequency: 0.5

### Issue
When navigation package is upgraded to 1.12.14 from 1.12.13, global path planner don't update in planner frequency.

[2018-02-13 17:25] #313 closed, assigned to nobody

[2018-02-14 14:33] DLu commented on #657
Please open a question on answers.ros.org so that we can have an easier back-and-forth to debug the problem.

[2018-02-14 14:33] #657 closed, assigned to nobody

[2018-02-15 11:17] positron96 opened #661 "costmap2d does not respect yaw in map origin parameter."
Hello. I am trying to start a move_base with global costmap loaded from map_server node. The map has origin rotated, the file map.yaml is as follows:
[code]

Relevant parts of global costmap config are the following:
[code]

When I start, /map topic looks as it should (rotated) but global costmap is not rotated at all.

![virtualbox_ubox_15_02_2018_18_12_53](https://user-images.githubusercontent.c

[2018-02-15 13:23] facontidavide opened #662 "Problem with Voxel plugin: clearing logic seems to be wrong"
Hi,
 something pretty weird happened to me when I try to use the Voxel Layer.
To give you an idea, please take a look to this video:

https://vimeo.com/255893590

As you can see, a moving object (in this case, two cars) are moving in front of the robot and, as expected, they are detected and the local costmap is updated accordingly.

What is "wrong" is that the voxel grid __is NOT cleaned up__ whe

[2018-02-15 16:16] facontidavide commented on #662
For your information. using a value of __z_voxels__ smaller than __max_obstacle_height / z_resolution__ makes this problem even worse.
I am trying to find the reason in the code, may be you can figure it out faster than me ;)

UPDATE:
In other words, if **(z_voxels < max_obstacle_height / z_resolution)**, it is more probable that some voxels are marked but NOT cleared when they could.

The problem

[2018-02-15 17:16] facontidavide commented on #662
FYI. I have a fork where this problem is considerably mitigated and the API was NOT modified.

It is not ready for a PR, but if you want to discuss the potential solution to this problem, it might me a starting point.

Cheers

[2018-02-15 18:32] mikeferguson commented on #661
Known issue: https://github.com/ros-planning/navigation/issues/166, see also that AMCL does not support this either: https://github.com/ros-planning/navigation/issues/217

Pull requests welcome.

[2018-02-15 18:32] #661 closed, assigned to nobody

[2018-02-15 18:37] mikeferguson commented on #662
The extensive discussion in https://github.com/ros-planning/navigation/issues/267 might also be of interest to you -- it's a slightly different issue, but given your type of sensor, might be something you'll see.

[2018-02-15 19:50] facontidavide commented on #662
It is for sure an interesting discussion, but not really related to the issue I am describing, i.e. the fact that valid rays are not raytraced because the Z height is outside the given range.

If you have any argument __against__ keeping these rays during the cleanup, let me know.

I just realized I didn't share with you my forked version...  https://github.com/facontidavide/navigation/tree/voxel_

[2018-02-15 22:48] DLu commented on #634
I think so. Please open a PR.

[2018-02-16 08:36] SteveMacenski commented on #634
PR #666 resolves (I hear that number is good luck in some... particular circles)

[2018-02-20 21:37] DLu commented on #206
There was a fix that was not ported to kinetic/lunar. It is addressed by #663.

[2018-02-26 21:15] boilerbots commented on #634
Great to see this got resolved, when will we see it built and pushed out to kinetic, I updated 2/22/2018 and it is still bad.

[2018-02-26 21:57] SteveMacenski commented on #634
That's a question for @DLu and @mikeferguson

For now, you can use my branch for a solution

[2018-02-26 21:59] mikeferguson commented on #634
I'll have to check with @DLu on if we need to get anything else merged (I do know we need to update a few maintainer emails before release), but I can do a release in the next few days.

[2018-02-26 22:07] SteveMacenski commented on #634
Awesome.

[2018-03-09 00:41] SteveMacenski commented on #634
Any movement here?

[2018-03-09 00:54] mikeferguson commented on #634
Apologies on that -- when I commented on this issue, I thought it was already reviewed & merged. That was not the case.

I have a thumbs-up to do a release. I had spent a few minutes to see if there was a more elegant fix than just removing those lines (since the original PR fixes one edge condition error). I had not found a better fix and ended up running out of time that day.

I'm currently in t

[2018-03-11 12:18] Manujaya94 opened #676 "Integrate navigation stack into Nvidia Jetson"
Hi,
I am trying to integrate navigation stack into robot with Nvidia Jetson. I already implemented the slam with lidar and kinect with teleoperation and  navigation with goal poses, it only moving into different goal that i have published. it doest not have real time obstacle avoid and path planning. There for can you help me that how to integrate the navigation stack into my jetson robot. I have

[2018-03-12 17:28] DLu commented on #676
The best place to start would be [this tutorial](http://wiki.ros.org/navigation/Tutorials/RobotSetup). If you have additional questions, please follow up on answers.ros.org

[2018-03-12 17:28] #676 closed, assigned to nobody

[2018-03-13 02:08] mikeferguson commented on #634
merged into kinetic, ported to lunar (still to be merged). releases shortly.

[2018-03-13 03:45] SteveMacenski commented on #634
Thanks Fergs

Apparently I can't close this issue, do you mind?

[2018-03-15 14:41] pavloblindnology opened #679 "Control loop missing its desired rate (waitForTransform related)."
The PR #270 described in #196 severely slows down the control loop speed (similar problem was described in #468).
The reason is that waitForTransform is called multiple times during a control loop. In `dwa_local_planner` it's called 3 times:
1. https://github.com/ros-planning/navigation/blob/51dfabcb4d6deee5a63329e1e6dfab6ae563d47d/dwa_local_planner/src/dwa_planner_ros.cpp#L153
2. https://github.c

[2018-03-16 19:33] mikeferguson commented on #634
Now released to Kinetic: https://github.com/ros/rosdistro/pull/17159

[2018-03-16 19:33] #634 closed, assigned to nobody

[2018-03-16 19:36] SteveMacenski commented on #634
Thanks everyone!

[2018-03-16 19:45] mikeferguson commented on #626
The published footprint is just for debugging -- makes it possible to see where the robot is when overlayed on the cost map in RVIZ. Likely, the reason to transform the footprint within that function is so that the display of the costmap and the display of the footprint will be consistent with where the frames are at that point (technically, you could publish footprint in the robot local frame, an

[2018-03-16 19:45] #626 closed, assigned to nobody

[2018-03-19 14:49] pavloblindnology opened #683 "Oscillation cost function doesn't work with DWA local planner for rotations"
AFAIU oscillation cost function should prevent rotational oscillations while rotating in place.
But in DWA local planner it's not so.
In place trajectory can be supplied by `LatchedStopRotateController` only, because
`SimpleTrajectoryGenerator` discards such trajectories here
https://github.com/ros-planning/navigation/blob/956c2c9e6fddce5484343cfc97dbc4e7217edcc2/base_local_planner/src/simple_traj

[2018-03-20 17:33] DLu commented on #683
What you say is true. `checkTrajectory` is meant as a sort-of stateless check, but it does change the state of (and thus ignore) the oscillation cost function.

Are you finding scenarios where oscillations are a big problem while turning in place?

[2018-03-20 17:50] DLu commented on #657
Opened #684 for this!

[2018-03-20 21:27] mikeferguson commented on #657
Fixed in 1.12.15 -- https://github.com/ros/rosdistro/pull/17191

[2018-03-21 18:45] nickvaras commented on #662
You have stated the issue very clearly and accurately IMO, @facontidavide .
A crude workaround strategy I've tried was adding the same observation source twice, but with different parameters, where one performs a clearing function, whereas the other does the marking.
Hope this gets resolved!

[2018-03-22 21:55] Masterzach32 opened #685 "CMake Error at navigation/map_server/CMakeLists.txt:94 (add_rostest)"
CMake cant find the add_rostest() command

[code]

I have not modified any of the navigation packages before sourcing and calling catkin_make. Each of the packages from the branch I cloned (kinetic-devel) seems to have rostest in its dependencies, so I am not sure as to why CMake cant find add_rostest().

[2018-03-23 01:08] mikeferguson commented on #685
kinetic-devel has a "find_package(rostest)" right before that line, so I don't think this is a problem with our code -- probably your environment. I would suggest asking on ROS Answers. If you find out that there is something wrong with our codebase, please post back here and re-open the issue.

[2018-03-23 01:08] #685 closed, assigned to nobody

[2018-03-23 01:41] mikeferguson commented on #584
#675 and #686 apply the mutex noted above.

[2018-03-23 01:41] #584 closed, assigned to nobody

[2018-03-25 01:16] mikeferguson commented on #650
Seems straight forward to add some checks that if config.X == 0, print a ROS_ERROR and use the default value from the .cfg file. Marking this as a good first issue for someone who wants to contribute.

[2018-03-26 13:53] pavloblindnology commented on #683
@DLu I doubt I had such scenarios. But, what is the reason to keep a feature that doesn't work? This only misleads people.

[2018-03-27 08:39] pavloblindnology opened #689 "Trajectory scoring scales inconsistency"
According to [this](http://wiki.ros.org/base_local_planner?distro=lunar#Trajectory_Scoring_Parameters) and [this](http://wiki.ros.org/dwa_local_planner?distro=lunar#Trajectory_Scoring_Parameters), the trajectory obstacle scoring is computed as
`occdist_scale * (maximum obstacle cost along the trajectory in obstacle cost (0-254))`
While in the code, `occdist_scale` is multiplied by grid resolution:

[2018-03-27 15:20] mikeferguson commented on #662
Ok, I've now spent quite a bit of time looking at this, and your pull request.

First, let's disambiguate a few parameters:
 * Each observation buffer has a min_obstacle_height and max_obstacle_height. In addition to these parameters, the observation buffer also has raytrace_range and obstacle_range, and these two parameters are passed onto each observation.
 * The voxel layer itself has a max_obs

[2018-03-27 19:28] mikeferguson commented on #593
So, a segmentation fault in malloc probably means heap corruption... that leaves a lot open. I haven't seen many complaints about segfaults in costmap_2d recently, so I'm gonna presume that footprint_clearing_enabled_ really is the deciding thing, that very much limits the code to look at. The only thing that jumps out as a possible culprit would be https://github.com/ros-planning/navigation/blob/

[2018-03-28 08:16] facontidavide commented on #662
Hi @mikeferguson ,

everything you said is technically 100% correct. There are workarounds as you mentioned to obtain the same effect, but IMO 90% of the users of this plugin are not aware of this implicit "contract" and they break the principle of "minimum surprise".

In other words, I don't see any negative impact in implementing these changes, no "surprise" from the viewpoint of the user. Quite

[2018-03-28 11:36] pavloblindnology opened #697 "Invalid trajectory's obstacle scoring in dwa_local_planner"
According to next line, trajectory's obstacle score equals to score of the last point in `dwa_local_planner`.
https://github.com/ros-planning/navigation/blob/43e9297d588276efa9868efe2ed56ac6bf08e180/base_local_planner/src/obstacle_cost_function.cpp#L97
While it should be the maximum of scores for all points, as it's done in `base_local_planner`
https://github.com/ros-planning/navigation/blob/43e92

[2018-03-28 22:07] mikeferguson commented on #264
So, Jade has come and gone years ago. @DLu -- I'm planning to work on this in the next few weeks, and I'm targeting Melodic.

[2018-03-28 22:09] mikeferguson commented on #90
Attacking this for Melodic

[2018-03-28 22:10] mikeferguson commented on #499
Targeting Melodic

[2018-03-28 22:12] mikeferguson commented on #402
Since this breaks API, targeting melodic

[2018-03-28 22:14] mikeferguson commented on #262
Adding help wanted, since I'm not too familiar with that planner, and it looks like DLu is busy. PRs welcome.

[2018-03-29 01:45] mikeferguson opened #701 "Drop robot_pose_ekf in Melodic?"
I'm proposing we should drop robot_pose_ekf in Melodic. If you use this package, and intend to in Melodic or later, please comment here.

Reasoning:
 * robot_localization/graft are more generic, and robot_localization is far better documented.
 * robot_pose_ekf has always been fairly PR2-specific (it has several known hacks that aren't generic).
 * PR2 is not going to be supported on Melodic or la

[2018-03-29 19:55] DLu commented on #701
:+1:

[2018-03-29 19:56] #573 closed, assigned to nobody

[2018-03-29 20:06] DLu commented on #697
I'm not certain this is a bug persay, but I would support adding a parameter to add the option to get the max of all costs, since otherwise it would change the default scoring for many people.

Are you seeing situations where not doing the max causes problems?

[2018-03-29 20:09] DLu commented on #689
I concur that this a very frustrating situation, that I've found myself working around myself. However, I'm hesitant to make these changes because they would drastically change the behavior for people with existing configurations.

[2018-03-29 20:23] DLu commented on #683
There are two separate use cases for `checkTrajectory`. If you are using it for checking if rotating to the goal is in collision, then that line is not needed. However, if you are using the `checkTrajectory` method in some external test class, you would not want it to return oscillation errors just because the sequence of individual trajectories fed to the method appeared to be oscillating. So I t

[2018-03-30 11:46] pavloblindnology commented on #697
Yes, I'm seeing.
When having relatively large inflation area and relatively long trajectories, dwa_local_planner (and all local planners based on BaseLocalPlanner) just neglects inflation area around the obstacles in certain situations. Like the one at this [picture](https://drive.google.com/open?id=1wfjRi20NzUjIKUFRGRkxRVrSbV9kytQW), where the blue trajectory is selected by the planner whatever t

[2018-03-30 12:00] pavloblindnology commented on #689
Agree about the drastic changes.
May we leave this PR here so that people know about it and update their codes if they wish to?
Or maybe it's better to make some optional release so that the new users of this repo don't follow the same erroneous steps?

[2018-03-30 12:08] pavloblindnology commented on #683
So, currently, rotation oscillation cost function doesn't work in any situation, and that line is needed only for external test classes use case.
Then, maybe it's worth removing this functionality at all?
BTW, why it's limited to only in-place oscillations, why not to prohibit rotational oscillations at speed?
Thanks.

[2018-03-30 23:49] SteveMacenski commented on #701
While I don't use it anymore, it may be good to have a wiki page for good defaults for the turtlebot series for those users that dont want to get over their head in understanding what those covariance matrices do with `robot_localization`.

[2018-04-05 14:31] DLu commented on #683
Can you elaborate on what you mean that the rotation oscillation doesn't work in any situation?

[2018-04-05 14:32] DLu commented on #689
I tend to favor writing new backwards compatible parameters rather than changing them wholesale.

[2018-04-10 06:25] pavloblindnology commented on #683
Rotation oscillation functionality in `dwa_local_planner` doesn't work neither when called from `LatchedStopRotateController` nor when called from `SimpleTrajectoryGenerator`. It's elaborated in initial issue description.

[2018-04-10 17:52] DLu commented on #683
If you want to allow in place rotations even not near the goal, you can set `min_trans_vel` to -1.

When not using the `LatchedStopRotateController` the trajectories are scored [here](https://github.com/ros-planning/navigation/blob/956c2c9e6fddce5484343cfc97dbc4e7217edcc2/base_local_planner/src/simple_scored_sampling_planner.cpp#L105) and not within `DWAPlanner::checkTrajectory`, and that calculat

[2018-04-11 17:49] pavloblindnology opened #705 "Costmap_2d doesn't respect robot's movement\rotation during LaserScan scan time."
In Costmap_2d high fidelity projection of sensor_msgs::LaserScan to sensor_msgs::PointCloud2 is used to account for situation of moving\rotating robot. Here is the appropriate line
https://github.com/ros-planning/navigation/blob/9edda2baa1a900c30dec5e33c2bb70698b60d1b0/costmap_2d/plugins/obstacle_layer.cpp#L262

**But as the target frame the laser scan frame is used!
That makes this high fidelity

[2018-04-13 08:37] MarcoStb1993 opened #706 "RotateRecovery parameter names differ from TrajectoryPlannerROS parameter names"
The parameters specified in TrajectoryPlannerROS that according to the documentation will be accepted by RotateRecovery have different than those of RotateRecovery which leads to RotateRecovery using the default values instead of the ones specified by the user in base_local_planners.yaml.
http://wiki.ros.org/rotate_recovery
(acc_lim_th, max_rotational_vel, min_in_place_rotational_vel )
http://wiki

[2018-04-16 08:02] jediofgever opened #707 "Cannot Build from source"
Hi there,
I have try to build navigation stack with no sucess, when I do catkin_make the process hangs forever at %100 percent without any error or warning. What can cause my problem. I am on ubuntu 16 04 with ROS kinetic version.
Thanks for your help

[2018-04-16 10:26] Huaxu-Qiu commented on #707
just wait~

[2018-04-19 16:25] DLu commented on #707
This issue is probably more appropriate for answers.ros.org, since is likely a personal configuration issue. I would try running `catkin_make -j1` to see if that helps.

[2018-04-19 16:25] #707 closed, assigned to nobody

[2018-04-21 17:51] SteveMacenski opened #710 "Thread safety in costmap_2d costmap reset service"
My colleague and I found the clear costmaps service does not lock the costmap mutex as `updateBounds` and the `clear_costmap_recovery` do. Would adding this lock be something that would be merged?

We find the robot is able to plan in some states when this is called frequently, it will generate a straight line path through the map because there's no costs represented in that iteration.

[2018-04-21 18:47] mikeferguson commented on #710
Yes, threading fixes are always welcome -- we will probably allow an extended "open comment" period on the pull request so people can (hopefully) test on a variety of platforms before we merge.

[2018-04-21 23:18] SteveMacenski commented on #710
Okay, will PR on Monday.

[2018-04-23 18:38] SteveMacenski commented on #710
The changes are in PR #711, its just a couple locks in the service call so I'd doubt anyone would adamantly object.

I'll check back up on this in a week or two to check in.

[2018-04-23 19:42] RajathSwaroop opened #712 "How do I increase the rate of Robot Pose EKF"
I have been using robo pose ekf package from ROS for my project with visual odometry and IMU data being used by ekf package. I am publishing them from different sources and at 20HZ. I get the result topic /robot_pose_ekf/odom_combined at 1.4 hz approximately. I want to increase the rate of output. How do I do that??

[2018-04-23 19:51] SteveMacenski commented on #712
You'd have to provide your configuration, but if you have that problem I suspect your rate parameter is an issue

`<param name="freq" value="30.0"/>` from [here](wiki.ros.org/robot_pose_ekf)

[2018-04-23 19:55] RajathSwaroop commented on #712
I increased the frequency but could'nt find any change in rate. I tried changing in the launch file as well as the cpp node for robot pose ekf. None of them worked.

By configuration do you mean setting the flags true or false for the sensor being used??
I have already set in the launch file bool false for odom and true for IMU and Visual Odometry

When I run only the visual odometry and kill the

[2018-04-28 02:27] DanielArnett opened #714 "Navigation on Multiple Robots Conflicting"
I'm trying to use ROS Navigation stack on two robots connected to the same roscore. But both are publishing to `/cmd_vel`, when I need them to publish to `/robot1/cmd_vel` and `/robot2/cmd_vel`. I believe the same is happening with all of my topics related to `move_base`. Every other ROS node I use automatically redirects when I launch it within a `<group ns="robot1">` group tag, but move_base doe

[2018-04-28 19:42] DanielArnett commented on #714
The brute force answer was to abuse the remap function.

[code]

Can anyone think of a more elegant solution?

[2018-04-30 20:40] DLu commented on #714
So I tried a portion of your launch file:

[code]
and with that I get
[code]
Does that match what you see?

[2018-05-04 20:03] SteveMacenski commented on #710
The PR has been sitting for about 2 weeks without comment. Anything else blocking this I can help with?

[2018-05-09 09:15] Rayman opened #715 "Some local planners don't work with sparse paths"
The `carrot_planner` outputs a sparse path: just two points. A lot of the local planner (dwa for example) can't deal with this properly. When the starting point falls out of the costmap, the robot stops (this is very easy to reproduce).

What is the correct way to solve this?
1. let the carrot planner and others send out interpolated paths with a lot of intermediate points
2. fix the local planner

[2018-05-09 15:54] mikeferguson commented on #715
The correct way to fix this is to probably not use the carrot_planner. The [carrot_planner wiki](http://wiki.ros.org/carrot_planner) describes how it works, it's really not a useful planner when in any sort of clutter. My understanding is that this "planner" was created for the PR2 beta workshop (the "PR2 with flags demo") -- so they could send robots on straight lines between pre-defined goals wi

[2018-05-11 14:06] Rayman commented on #715
I'll try to illustrate my problem with a drawing:
![carrot planner bug](https://user-images.githubusercontent.com/91969/39928199-fc8472ca-5534-11e8-82ec-419f6dc9a6da.png)
The robot stops immediately when the start point falls out of the local costmap. This is because `getLocalPlan` can't find any point on the path that is inside of the costmap (there are only 2 points).

What is the way to solve t

[2018-05-14 19:58] moriarty opened #717 "Compile Error Melodic due to tf change"
A change in ```tf.h``` here: https://github.com/ros/geometry/pull/163
causes the following compile error on Ubuntu 18.04 and Melodic:

[code]
The simple gcc suggestion to replace ```tf2_buffer_``` with ```tf2_buffer_ptr_``` doesn't fix the problem, just gets the next error msg:

[code]

I was using the **lunar** branch earlier as it was the most up to date and was working with melodic, but came ba

[2018-05-14 21:28] mikeferguson commented on #714
Closing due to inactivity and since @DLu seems to think this is working. If you have additional information, please comment/reopen

[2018-05-14 21:28] #714 closed, assigned to nobody

[2018-05-14 21:30] mikeferguson commented on #715
The fix is either to use a different global planner (as I mentioned above) or increase the size of your costmap. Adding interpolation to local planners is likely going to introduce many new parameters into an already complex system. If you really wanted to, you could add interpolation into the carrot planner, but as I mentioned, that's really not intended to be a real planner.

I suppose we would

[2018-05-14 21:30] #715 closed, assigned to nobody

[2018-05-14 21:32] mikeferguson commented on #710
Merged in kinetic -- Lunar forward port will get merged once CI completes (https://github.com/ros-planning/navigation/pull/719)

[2018-05-14 21:32] #710 closed, assigned to nobody

[2018-05-14 21:33] mikeferguson commented on #712
This is more appropriate for ROS answers. Please also note, it is our recommendation to use robot_localization on any new robot design -- robot_pose_ekf is slated for removal in melodic.

[2018-05-14 21:33] #712 closed, assigned to nobody

[2018-05-14 21:35] mikeferguson commented on #593
Closing due to inactivity after presumed fix. Please reopen if there is  new/additional information.

[2018-05-14 21:35] #593 closed, assigned to nobody

[2018-05-14 21:37] mikeferguson commented on #706
Adding melodic milestone to this -- since I'd like to try to address all of these random parameter issues we've found over the years in this new LTS.

[2018-05-14 21:52] DanielArnett commented on #714
Yeah it's working.

Before I saw his response working I just remapped every topic related to
move_base and Ros navigation to `/robot1/...`, and that did the trick.

On Mon, May 14, 2018, 17:28 Michael Ferguson <notifications@github.com>
wrote:

[2018-05-15 19:23] #717 closed, assigned to aaronhoy

[2018-05-15 19:23] mikeferguson opened #722 "Compile Error on Melodic"
[code]

[2018-05-16 03:26] #722 closed, assigned to nobody

[2018-05-17 15:50] ghost opened #724 "/map as OccupancyGrid is ignored by global planner"
Hi, I am using cartographer to generate the /map topic of type OccupancyGrid.
However, the global planner is not using it properly it.

From the observations in rviz I see, that the move_base/global_planner/costmap is constructed, but with many holes:
![global_costmap](https://user-images.githubusercontent.com/90824/40188480-53404dae-59fa-11e8-8313-180bdc28cbe0.png)

The global path, with /map dis

[2018-05-17 15:56] mikeferguson commented on #724
Please see the wiki page for the layer - http://wiki.ros.org/costmap_2d/hydro/staticmap. The parameter you are looking for is "lethal_cost_threshold".

[2018-05-17 15:56] #724 closed, assigned to nobody

[2018-05-21 15:53] tiralonghipol commented on #468
Hi. I don't know if anyone still interested, but I've been deeply searching for a solution to this problem.
All the cited solutions did not worked for me, so I got one on my own..

The only thing that would drastically produce a lower load in terms of CPU and computational power, in my case, was to act in the number of samples (forward simulation - vx and vy samples values).

Hope it helps!

[2018-05-21 19:25] ans-qureshi commented on #617
@DLu  I don't think this is an issue of dependencies, I used rosdep update but still get this compilation error

[2018-05-22 04:04] mikeferguson commented on #402
Looks like this was actually (mostly) done in https://github.com/ros-planning/navigation/commit/88e802d89a28d5dbee0ce10ab3c0ab1931830e30 -- note the parameter is called "combination_method" not mode (but that is same in both classes). The voxel layer does lack the nothing option, which I'm adding.

[2018-05-22 05:08] mikeferguson commented on #90
The defaults for path_distance_bias and pdist_scale in the two dynamic reconfigurations are vastly different (32 vs 0.6) -- are these really "the same thing"?

[2018-05-22 05:50] mikeferguson commented on #701
Is in PR -- closing so I can keep track of what we have to actually still do before release!

[2018-05-22 05:50] #701 closed, assigned to mikeferguson

[2018-05-22 05:50] mikeferguson commented on #706
Is in PR -- closing so I can keep track of what we have to actually still do before release!

[2018-05-22 05:50] #706 closed, assigned to nobody

[2018-05-22 05:51] mikeferguson commented on #402
Is in PR -- closing so I can keep track of what we have to actually still do before release!

[2018-05-22 05:51] #402 closed, assigned to nobody

[2018-05-22 05:51] mikeferguson commented on #499
Is in PR -- closing so I can keep track of what we have to actually still do before release!

[2018-05-22 05:51] #499 closed, assigned to mikeferguson

[2018-05-22 05:51] mikeferguson commented on #487
Is in PR -- closing so I can keep track of what we have to actually still do before release!

[2018-05-22 05:51] #487 closed, assigned to nobody

[2018-05-22 13:27] DLu commented on #617
Have you run `rosdep install navigation`?

[2018-05-22 14:11] pouyx commented on #617
you can try this Link sudo apt-get install libbullet-dev

[2018-05-23 12:13] davidNguyenHTD opened #729 "AMCL node potential memory leak"
In the function AmclNode::reconfigureCB of amcl_node.cpp, pf_ is allocated a new memory but pf_free( pf_ ) is not called before that. Should this potentially create memory leak each time the dynamic reconfigure callback is triggered?

[2018-05-23 15:28] mikeferguson commented on #729
Yup, that appears to be the case. PRs welcome.

[2018-05-23 21:15] #729 closed, assigned to nobody

[2018-05-23 23:28] AchmadFathoni commented on #503
Any update?

[2018-05-23 23:39] AchmadFathoni commented on #473
Oldest open issue

[2018-05-23 23:48] AchmadFathoni commented on #39
Oldest open issue

[2018-05-24 00:54] jonbinney commented on #39
Unassigned this, since I won't have time to work on it. Shouldn't be too hard if anyone has the time.

[2018-05-24 04:09] AchmadFathoni commented on #1
Why this issue still open?

[2018-05-28 14:40] zkytony commented on #503
I have not worked on navigation for a while. I'm closing this issue. If anyone has an update they can reopen it.

[2018-05-28 14:40] #503 closed, assigned to nobody

[2018-05-29 17:58] aaronhoy commented on #473
This seems reasonable, although I could also see an argument for not ever using the "trinary" flag itself and simply warning that it is deprecated.

Also if I'm not mistaken, any fields applicable to trinary are also applicable to scale, so automatically selecting trinary based on other fields might not be what we want to do.

If you're still interested, why don't we create a PR with the proposed

[2018-05-29 18:41] aaronhoy commented on #1
This appears to have been fixed by #725.  Closing.

[2018-05-29 18:41] #1 closed, assigned to nobody

[2018-05-30 10:55] stwirth commented on #473
I have a workaround in place for my use case, so I don't need this feature. However, I'd be happy to chime in on a PR discussion.

[2018-06-01 08:01] anslex opened #736 "The clearing stays permanent in obstacle costmap, when 0 (overwrite) combination method is applied"
Hello !

I am clearing some layers markings by a layer with a detected object to be cleared and the problem is that its' clearing stay permanent even when the object disappeares.

So here more detailed information:

The goal:

-    Erase any markings on the costmap under x_object when it is detected
-    Continue marking with laser layers when the x_object is disappeared or was not present

The ac

[2018-06-11 18:33] ghost opened #741 "Tuning move_base for a large robot"
Hi, I am trying to implement the move_base on the Clearpath warthog platform which is about 1.8x1.6mts in size.  I am having a couple of issues and was hoping someone could help me address them:
1. When directing the robot to navigate to a point, I find that once it reaches the x,y coodrinates, the planner makes it go almost full circle to get to the desired orientation.
2. I find that this large

[2018-06-11 19:31] mikeferguson commented on #736
Please don't double post. If you haven't received an answer on ROS answers, there probably just isn't anyone with an answer yet.

From your description, it appears you have a custom costmap layer. There is probably a bug in that costmap layer.

[2018-06-11 19:31] #736 closed, assigned to nobody

[2018-06-11 19:36] mikeferguson commented on #741
@shahvi -- please post future questions to ROS answers. We try to limit issues to actual "issues" within the navigation stack code base.

RE: rotation direction issues. I know that existed as an issue long ago -- I thought it was fixed. See https://github.com/ros-planning/navigation/pull/348

RE: slow rotation -- see the parameter min_in_place_vel_theta. Amplifying the output is certain to cause p

[2018-06-11 19:36] #741 closed, assigned to nobody

[2018-06-11 19:46] ghost commented on #741
Understood... thanks for the info here.

[2018-06-12 15:16] ghost commented on #741
@mikeferguson  After understanding the issue a bit more, I think the planner can benefit from an additional parameter for minimum velocity theta (while still moving).  This would help the planner model the robot's capabilities better.
I understand that there is a parameter for minimum velocity theta already, however that parameter defaults to -1.0.  If I set it to a positive number such as 0.4, I

[2018-06-15 14:44] ghost opened #743 "global costmap not built @ kinetic"
I am facing an issue with building a global costmap.
While I am getting the warning in the terminal about map bounts
`The origin for the sensor at (-0.06, 0.01) is out of map bounds. So, the costmap cannot raytrace for it.
`
the global cost map looks like this:
![costmap_issue](https://user-images.githubusercontent.com/90824/41473881-d8d2fa26-70ba-11e8-827d-97520b98fbdf.png)

The local costmap loo

[2018-06-15 14:52] mikeferguson commented on #743
The error message is pretty clear -- you're not on the map. The global costmap is only as big as the map is -- and since your map appears to be entirely in the positive quadrant (this is pretty typical in ROS), you can't expect any global costmap updates to be in the negative quadrants. Localize your robot to a location not at 0,0 and you should see updates.

[2018-06-15 14:52] #743 closed, assigned to nobody

[2018-06-19 10:00] alireza-hosseini opened #744 "New release for Kinetic"
Hi,

We are using google's Cartographer in combination with move-base for an exploration task and move-base is constantly crashing while resizing the map with the same error logs reported on #584.

Apprantly this issue is fixed on #675, however, the latest release for **Kinetic** (956c2c9e6fddce5484343cfc97dbc4e7217edcc2) is triggered exactly one week before merging the mentioned PR. So It would b

[2018-06-19 11:25] ghost commented on #743
Hmm, sorry what you say sound to me like the root source of the problem but the issue is: that actually this step (move the costmap) is not performed well, when using move_base node.

Interestingly, when I use standard turtlebot gmapping launch files, everything seems to be ok.
However, when cartographer is responsible for slam, then the move base fails to shift the global cost map correctly.

Wha

[2018-06-19 19:26] mikeferguson commented on #744
Released into both indigo & kinetic:
 * https://github.com/ros/rosdistro/pull/18244
 * https://github.com/ros/rosdistro/pull/18245

[2018-06-19 19:26] #744 closed, assigned to nobody

[2018-06-20 07:09] alireza-hosseini commented on #744
Thanks for your quick response.

[2018-06-20 13:43] sarika93 commented on #482
Was this ever resolved or addressed? I also observed that the scaling_speed and max_scaling_factor aren't actually being used in the obstacle cost function. ObstacleCostFunction::footprintCost takes scale (which is calculated using these params) in as an argument but never actually uses it. Was now about to log a ticket, but I see you've found this problem too.

[2018-06-21 13:17] timethy opened #746 "AMCL: Rotating in-place while slowly driving backwards gives wrong bearing"
When rotating in-place and going slightly backwards AMCL estimates a forward motion (albeit a small one).
This eventually leads to a completely wrong estimate.

Proposed fix is in #745

[2018-06-21 14:20] ghost commented on #743
solved. the issue was that the move_base module requires the same TF nodes as in the turtlebot example.. So I added imu_link and base_footprint with zero translation and identity rotation...

[2018-06-22 00:30] tunai commented on #743
Hi @mojovski ,

I see you just solved this problem 10 hours ago. Can you please expand on your solution? I am new to the navigation stack and I have been playing with the parameters of my TurtleBot3 navigation module to improve the navigation performance, and I believe I screwed something up. Up until yesterday everything was fine, now I keep getting the "the origin of the sensor is out of bounds"

[2018-06-22 11:03] ytgcljj opened #747 "How to install the latest navigation"
I installed ROS with the command of sudo apt-get install ros-kinetic-desktop-full. Now I'm updating navigation. I don't know how to update it. Please help me

[2018-06-23 05:44] Huaxu-Qiu opened #748 "Only half of costmap can update"
![selection_003](https://user-images.githubusercontent.com/38238808/41806183-b2da3744-76eb-11e8-9e4e-2e3da02d2910.png)
![selection_001](https://user-images.githubusercontent.com/38238808/41806184-b32af148-76eb-11e8-881b-d4f59dee4c5f.png)

I set 5-meter height and width of local costmap, but it seems update a narrow bound of the costmap, and the bounds of obstacle layer become narrow first.
Is ther

[2018-06-25 13:21] bochen87 opened #749 "Melodic Release?"
Hi,
It seems as if the navigation stack is currently blocked from release and thus not available for bionic - only via installation from source
http://repositories.ros.org/status_page/blocked_releases_melodic.html?s=6&r=1

[2018-06-25 15:25] mikeferguson commented on #749
Yeah, we're a bit behind -- see the milestone for Melodic (https://github.com/ros-planning/navigation/milestone/4) -- I think we may end up pushing those remaining items (I was really hoping to have fully switched to TF2, since so many core stacks have -- but I've not yet been able to actually make it work)

[2018-06-26 06:31] sunilsulania opened #750 "Already moving robot does not stop if planner can not make a plan immediately"
I have a robot running in a physical loop path with move_base running only in one of its straight segments. So i switch (Give goal to actionserver) to move_base while robot is moving.
In a condition when **MoveBase::makePlan** return false immediately after switching(giving goal to actionserver) velocities are not updated to zero causing robot to not stop.
makePlan returns false because there is a

[2018-06-26 07:13] bochen87 commented on #749
Oh, ok, thanks for the explanation! I was just wondering because it wasn't noted anywhere that the navigation stack was not ready yet. In the installation it even mentions that navigation get's installed with `ros-melodic-desktop-full` so I first spent half an hour looking for potential errors on my computer :-)

Unfortunately, I don't have edit rights yet, but maybe worth adding this as a disclai

[2018-06-26 13:25] mikeferguson commented on #749
Hmm, so - I think that documentation might need to be updated on more than just Melodic -- navigation hasn't been in desktop full since at least the metapackage refactor in Hydro. See also https://github.com/ros/metapackages/issues/12 -- which is apparently when they fixed the Indigo documentation,

[2018-06-26 13:45] bochen87 commented on #749
Oh, I see - well maybe also additionally mentioning in the melodic documentation that the navigation is not yet installable as package. I asked for edit rights in the wiki, will have to wait until I get that, then I can update it if you want to.

[2018-06-26 17:37] mikeferguson commented on #749
Putting temporary notes on the release status on the Wiki is probably a bad idea -- nobody will end up removing it later on. It's better that people look at the automatically generated and always up to date [status pages](http://repositories.ros.org/status_page/ros_melodic_default.html) (which I will admit are somewhat hard to find -- which is something that should be addressed). If something isn'

[2018-06-27 06:54] bochen87 commented on #749
I removed the mention of the navigation stack in the desktop-full package. Can we leave this issue open so that people know the navigation stack is not available as a package on melodic as of yet?

[2018-06-27 21:59] mikeferguson commented on #749
Yep, I’ve added this ticket to the milestone, and will leave it open

[2018-06-27 22:01] mikeferguson commented on #750
I think I might have seen this before and was blaming the simulation. Could you open a PR?

[2018-06-28 00:46] mikeferguson commented on #750
Ok -- I think this is different from what I've seen -- but I think you're right -- I don't see anywhere in the executeCb() where we set velocities to zero. That should probably be done right before we change state to planning.

[2018-06-28 00:51] mikeferguson commented on #747
This is really a question for answers.ros.org.

[2018-06-28 00:51] #747 closed, assigned to nobody

[2018-06-29 11:02] #748 closed, assigned to nobody

[2018-07-05 10:37] oscarmendezm commented on #566
Did you ever get around to doing this? I would be interested in seeing the performance increase.

[2018-07-11 00:34] AchmadFathoni commented on #588
How is it going?, I am interested to use the setParticles in my current project.

[2018-07-11 01:15] lucbettaieb commented on #588
@vik748 ^ <3

[2018-07-11 22:02] vik748 commented on #588
@AchmadFathoni , I have just created a pull request #753 with this feature.
I have to warn you, I had developed this last summer and haven't had a chance to test it with the more recent updates to the code.
Please do test it out and provide your feedback.
Thanks,
Vikrant

[2018-07-12 03:27] AchmadFathoni commented on #588
Don't worry,  I am on my way learning amcl source code line by line.  I promise I will improve it, if I have a chance.

[2018-07-12 12:54] GITSHOHOKU opened #754 "How can I use navigation package on my own robots to get planning target msg"
Hello everyone!
Now I use ORB-SLAM which can provides location msg and RGB-D can provide pointcloud2 msg.
I can get the tf between camera and robot, what I need is use the pointcloud2 to avoid obstacles. I have learned guidance on navigation page. But I am confused if I provide pointcloud2 and tf among each frames,and I just need the planning path to avoid obstacles ,So
             1. Can I just

[2018-07-13 03:29] mikeferguson commented on #754
Please post broad questions like this on answers.ros.org

[2018-07-13 03:29] #754 closed, assigned to nobody

[2018-07-16 01:05] moriarty opened #758 "Jenkins/Docker setup is slower after tf2 #752"
![build-time-trend](https://user-images.githubusercontent.com/55676/42740202-be703d32-8858-11e8-9e6c-b5aadd2c1014.png)

The part which has slowed down seems to be the pre-setup stages. I thought maybe it is because some template code in tf2 slows things down but it doesn't seem so. It now takes **much** loger to get to the build workspace in isolation stage.

Build 31
http://build.ros.org/job/Mpr_

[2018-07-16 01:19] HobbySingh opened #759 "CostMap2d dependency missing - catkin_make fails"
make[2]: *** No rule to make target '/usr/lib/libpcl_common.so', needed by '/home/mandeep/catkin_ws/devel/lib/libcostmap_2d.so'.  Stop.
CMakeFiles/Makefile2:17453: recipe for target 'navigation/costmap_2d/CMakeFiles/costmap_2d.dir/all' failed
make[1]: *** [navigation/costmap_2d/CMakeFiles/costmap_2d.dir/all] Error 2
Makefile:138: recipe for target 'all' failed
make: *** [all] Error 2

[2018-07-16 01:30] mikeferguson commented on #758
The difference in getting to build start is not actually different -- that's just how long it took for a buildslave to be available. For instance, here is a successful build from a while ago, that took 21 minutes to start as well: http://build.ros.org/job/Mpr__navigation__ubuntu_bionic_amd64/7/console

[2018-07-16 01:34] moriarty commented on #758
Okay, and it actually looks like the restarted build for the #755 PR is already far along and should pass. http://build.ros.org/job/Mpr__navigation__ubuntu_bionic_amd64/38/consoleFull#console-section-12

Then should I close this?

[2018-07-16 01:35] mikeferguson commented on #758
Leave it open -- we've not had this many issues until right now -- so I think something is wonky -- just not sure what yet

[2018-07-16 01:50] mikeferguson commented on #758
And actually you are right -- I think I was looking at the wrong timestamps initially. Doing an elapsed view:

 * First 11 steps went from 4 minutes to 36 minutes
 * Takes us 1hr35min to start tests, instead of 22minutes
 * Tests take about 20 minutes in both -- but if they run a little long, we blow through the time limit.

[2018-07-16 01:53] mikeferguson commented on #758
Build 38 appears to have started tests after 20 minutes -- so maybe this was actually a build farm issue? @tfoote -- any thoughts?

[2018-07-16 01:55] mikeferguson commented on #759
cost map_2d is building in CI -- so it is unlikely we are missing dependencies. Please use rosdep to install the dependencies when building from source.

[2018-07-16 01:55] #759 closed, assigned to nobody

[2018-07-16 02:31] HobbySingh commented on #759
My sincere apologies.
The issue was that my libpcl_common was not present in /usr/lib/ but it was there in /usr/lib/x86_64-linux-gnu. I don't know what does that mean. I simply copy psted all the missing libpcl_* files to /usr/lib folder and solved.

[2018-07-16 08:06] Rayman opened #760 "PR #752 broke orientation filter"
Hey @moriarty, after your PR, the orientation filter doesn't work anymore. I don't see anyting obvious wrong in the code, but it behaves differently. See the screenshots below.

melodic-devel (96c5f9fce6bdc0128623b3e4b184bcbe2909403d)
![screenshot from 2018-07-16 09-47-17](https://user-images.githubusercontent.com/91969/42748151-5aeb1f16-88df-11e8-81b4-c06e87a44567.png)

8ea5462f5395acf9741253ff38

[2018-07-16 10:12] Kanelankai opened #761 "kinetic-level cannot finish compile"
My ROS version is kinetic.
So I download the version of kinetic-level to the src folder of my workspace.
However, compile stopped as follows:
"
.....
stmap_2d_markers
[ 75%] Built target costmap_2d_node
[ 76%] Built target layers
[ 76%] Built target point_grid
[ 76%] Built target clear_costmap_recovery
[ 76%] Built target move_slow_and_clear
[ 77%] Built target navfn
[ 91%] Built target darknet_ro

[2018-07-16 15:04] moriarty commented on #760
Damn. I didn’t catch that when I was testing #752, but that might explain something I saw with #755.

I will take a look

[2018-07-16 15:46] moriarty commented on #760
I think this is a difference in ```tf2::getYaw``` @Rayman can you try replacing that with ```tf2::getEulerYPR``` ?

The old under the hood looks like it called getRPY and threw away the pitch and roll.

http://docs.ros.org/kinetic/api/tf/html/c++/transform__datatypes_8h_source.html#l00138
[code]

http://docs.ros.org/kinetic/api/tf/html/c++/Matrix3x3_8h_source.html#l00365
[code]

http://docs.ros.or

[2018-07-16 20:46] mikeferguson commented on #761
If CTRL-C and re-run catkin-make, does it work? I'm guessing this is actually a catkin issue, not something in our code, since it didn't error out...

[2018-07-16 20:55] mikeferguson commented on #760
@moriarty -- I added some comments in #752 -- it looks like the calls to setEuler should maybe setRPY if you look at the bodies of the functions in tf and tf2.

[2018-07-17 01:29] Kanelankai commented on #761
Yes. I have tried to re-run catkin_make but nothing changed. However, other packages could finish compile except this one.
I will compile it with other pc to check whether the settings of my pc have some problems.
Thank you!
iPhoneから送信

2018/07/17 5:46、Michael Ferguson <notifications@github.com<mailto:notifications@github.com>>のメール:

If CTRL-C and re-run catkin-make, does it work? I'm guessing thi

[2018-07-17 03:51] Kanelankai commented on #761
I have solved this problem.
I wait for about 15min today and finally it finished!
Although I did the same thing yesterday.
Sorry for disturbing you.
Thank you very much!

[2018-07-17 09:28] sunilsulania commented on #761
I encountered similar thing, my PC hangs for some time and PC is slowed down after returning from catkin_make, somewhere I read in similar issue that it is costmap related nodes which take too much time to compile.

[2018-07-17 10:16] Kanelankai commented on #761
@sunilsulania I first tried to compile this package last night, my pc hung up for a long time with no reaction. I tried many times but with no success. I began to doubt whether something was wrong with ros. Fortunately compilation finally finished when I tried again this morning. It takes too much time to finish move_base_node.
Thank you.

[2018-07-17 19:20] mikeferguson commented on #761
We haven't changed much in Kinetic lately -- so I'm thinking this might be some upstream issue in catkin_make. You might try looking around about catkin_make having this with other packages -- if you find there is something we can do to fix the build time, please open a new issue (or even better, a pull request) with the changes we should look at.

[2018-07-17 19:20] #761 closed, assigned to nobody

[2018-07-17 23:03] mikeferguson commented on #701
Interesting -- I'm not sure how we do that since it is automatically generated. @tfoote -- any thoughts on why that shows up that way?

[2018-07-17 23:04] mikeferguson commented on #701
Oh -- we haven't actually released into Melodic yet -- I bet when we do that, it will get updated!

[2018-07-18 05:20] #760 closed, assigned to nobody

[2018-07-18 05:22] mikeferguson commented on #749
I think we've got a TF2 solution -- in #755 + setRPY(). Once that is finished up and merged, we'll get a release out.

[2018-07-18 05:41] mikeferguson commented on #758
Seems to have been intermittent on buildfarm and gone away...

[2018-07-18 05:41] #758 closed, assigned to nobody

[2018-07-18 11:39] AchmadFathoni opened #764 "Need advice about new AMCL feature implementation"
I am making a robot for competition that must localize fast for solving kidnapped robot problem in [this map](https://novikaginanto.files.wordpress.com/2012/12/lapangan-berkaki.jpg). For doing that I have three new feature that not in AMCL repository yet and I need advice about how to implement it:

1. Pose elemination using compass heading data
    Says I have very good compass with 5 degress err

[2018-07-18 22:05] procopiostein commented on #764
https://answers.ros.org/questions/ is a better place for those type of questions.
the purpose of this page is for discussing bugs, enhancements, etc...
please, repost your question on answers.ros and close this issue.
thanks

[2018-07-18 23:57] mikeferguson commented on #764
Thanks @procopiostein -- that's right.

The only thing I will add -- having done robot fire fighting contests before -- depending on the sensor noise, each room should look "fairly different". You might be able to just do a brute force geometry match and call AMCL with an initial pose.

[2018-07-18 23:57] #764 closed, assigned to nobody

[2018-07-18 23:59] #689 closed, assigned to nobody

[2018-07-18 23:59] #697 closed, assigned to nobody

[2018-07-21 19:35] mikeferguson commented on #264
Remaining PCL items:

 * navfn_ros.h/cpp uses pcl_publisher -- needs to be converted to sensor_msgs iterator
 * base_local_planner/map_grid_visualizer.h -- uses pcl_publisher
 * dwa_local_planner still depends on PCL, but I can't find any usage.

[2018-07-21 21:55] moriarty commented on #264
[code]

Your branch is probably still a work in progress but I tried to compile it and found these usages

[code]

[2018-07-22 14:38] mikeferguson commented on #264
@moriarty that PR was less "work in progress" and more "wishful thinking" :)

[2018-07-23 09:33] NalinLuthra opened #767 "Compilation issue"
Can't compile AMCL package

error: ‘shared_ptr’ in namespace ‘std’ does not name a template type
     std::shared_ptr<tf2_ros::TransformBroadcaster> tfb_;
          ^
/home/nalin/Navigation/catkin_ws/src/navigation/amcl/src/amcl_node.cpp:144:10: error: ‘shared_ptr’ in namespace ‘std’ does not name a template type
     std::shared_ptr<tf2_ros::TransformListener> tfl_;
          ^
/home/nalin/Naviga

[2018-07-23 13:48] mikeferguson commented on #767
Which version of Linux/ROS are you using? I presume you have the melodic-devel branch checked out on an older Linux/ROS since our CI is building just fine.

[2018-07-23 13:48] #767 closed, assigned to nobody

[2018-07-25 01:22] tfoote commented on #701
There was at some point a version documented probably from the old branch back in May.

[code]

We don't delete data on packages that dissappear. So the old data persists. I've manually cleared it.

[2018-07-25 01:25] tfoote commented on #758
The buildfarm does a lot of caching of the setup. If it has run a build very similar to your build it will setup much faster.  There are also sometimes so IO bottlenecks/performance issues on the executors that we're not entirely sure what the origin is.

[2018-07-25 14:10] ghost opened #768 "Global costmap resized by static layer even if layered_costmap_->isSizeLocked() is set to true"
In the function staticLayer::incomingMap(navigation/costmap_2d/plugins/static_layer.cpp line 166), the first if statement results in master map(layered_costmap) being resized even if the setting for layered_costmap_->isSizeLocked is set to true. This seems unintended to me and I was wondering the changes below should be made.

There are few other changes to be made for this to fully work, but for

[2018-07-25 14:53] mikeferguson commented on #264
Boom. Done. Ship It.

Thanks @moriarty @DLu @vrabaud

[2018-07-25 14:53] #264 closed, assigned to mikeferguson

[2018-07-25 14:53] mikeferguson commented on #749
I'm working on release now

[2018-07-25 15:11] mikeferguson commented on #749
Release is tagged -- bloom is taking foreveeeeeeeer

[2018-07-25 15:30] mikeferguson commented on #749
https://github.com/ros/rosdistro/pull/18657

[2018-07-25 15:30] #749 closed, assigned to nobody

[2018-07-25 15:33] mikeferguson commented on #749
Will work on the wiki changelog later tonight

[2018-07-26 05:42] moriarty commented on #768
Sorry this comment won't answer your question. I just saw a wall of unformatted text and had to say something.

I guess there is no "how to file a bug" for this repository, but some more strict repos would require a little bit more basic information for [example](https://github.com/ev3dev/ev3dev/blame/ev3dev-jessie/ISSUE_TEMPLATE.md)

FYI, if you find the lines in GitHub, you can click on them, an

[2018-07-26 12:11] ghost commented on #768
Thanks for the suggestions! Will update and reopen with corrections @moriarty

[2018-07-27 03:30] moriarty commented on #768
@jinder1s I didn’t mean be rude or scare you away, I just wanted to help pin point the issue you were trying to report

[2018-07-27 11:03] ghost commented on #768
@moriarty  no no, I genuinely appreciate the advice. Its just the confluence of many events yesterday did not allow me to edit this issue request till now.

[2018-07-27 11:17] renno-bih commented on #259
Any updates about this issue?
Is there any more elegant solution to pause navigation?

[2018-07-27 13:35] salahkhan94 commented on #767
I am facing the same issue. I am trying to compile it on ROS Kinetic

[2018-07-27 16:47] mikeferguson opened #769 "Melodic debians are missing depends"
I’ll be working on this later tonight. Filing an issue so we don’t duplicate effort.

[2018-07-29 00:17] #769 closed, assigned to mikeferguson

[2018-07-31 10:19] lvxingzhe1991 opened #775 "cost2d"
Could not find a package configuration file provided by "tf2_sensor_msgs"
  with any of the following names:

    tf2_sensor_msgsConfig.cmake
    tf2_sensor_msgs-config.cmake
Add the installation prefix of "tf2_sensor_msgs" to CMAKE_PREFIX_PATH or
  set "tf2_sensor_msgs_DIR" to a directory containing one of the above files.
  If "tf2_sensor_msgs" provides a separate development package or SDK, be

[2018-07-31 13:04] mikeferguson commented on #775
You need to install tf2_sensor_msgs -- it is properly in the package.xml as a build depend.

[2018-07-31 13:04] #775 closed, assigned to nobody

[2018-08-03 00:57] meiqua commented on #503
I have a guess. Obviously -x and +x direction should be the same, so there must be somewhere break the symmetric. Due to the DWA trajectory sampling strategy, velocities are always evenly sampled from min to max. So when time is not enough for scoring trajectory, -x direction only explore velocity close to min, while +x direction can explore velocity close to max.
If my guess is true, a simple sol

[2018-08-05 00:25] ziggBee30 opened #776 "global planner for obstacle avoidance using mono cam !"
Hello guys

Can this anyway take information of the obstacle from my ROS node on which i am just using image_raw topic, and put the obstacle location in the map and plan the path accordingly ??

Please any suggestions !

Thanks

[2018-08-08 03:27] meiqua commented on #147
We also faced the problem recently. After seeing your trial and going through the code, I'm quite sure that it's because the **latch_xy_goal_tolerance** is not working well.
latch_xy_goal_tolerance is designed to prevent robot moving once reaching the goal position. If we close it, the robot may go away from the goal then start local planning again during the in place rotating stage. So we can see

[2018-08-10 08:59] Myzhar opened #777 "Using my own Global and Local costmaps?"
I have my own node that provides Global Map and Local Map as nav_msgs::OccupancyGrid messages. I would like to use them in the navigation stack and I cannot figure out how to do it.

Is this possible without modifying the code of costmap_2d and move_base?

Thank you
walter

[2018-08-13 14:06] DLu commented on #777
Please do not cross post your questions. https://answers.ros.org/question/300142/navigation-how-to-use-my-own-local-and-global-costmaps/

[2018-08-13 14:06] #777 closed, assigned to nobody

[2018-08-13 15:38] DLu commented on #776
Please open a question on answers.ros.org instead of posting here. The easiest way to get the information into the costmap is converting `image_raw` data to PointClouds.

[2018-08-13 15:38] #776 closed, assigned to nobody

[2018-08-14 10:11] subodh-malgonde commented on #749
After going through this thread, I understand that the navigation package has been released for ROS Melodic. Am I right?

I am on Ubuntu 18.04 and I am still unable to install navigation as a package. Please correct me if I am wrong.

[2018-08-14 10:19] subodh-malgonde commented on #747
Many beginners face this question and it does not have a very obvious answer. This question should be addressed in the documentation, which is expected to have basic instructions on setting up the navigation stack. I would be happy to open a PR.

If it helps anyone else, the way to install ROS Navigation stack is to run `apt-get install ros-<your_ros_distro>-navigation`. Eg. For the kinetic distro

[2018-08-14 13:59] mikeferguson commented on #749
It has been released, but a sync has not yet happened. We have no control over when OSRF does a sync.

[2018-08-14 16:43] mikeferguson commented on #747
The ROS wiki covers how to install packages in general -- http://wiki.ros.org/melodic/Installation/Ubuntu -- see the section on "installing an individual package". The ROS wiki also does this for ALL available platforms -- not just Ubuntu.

If you're trying to jump straight into navigation without learning how to use ROS in general, you're doing it wrong. The documentation of every individual pack

[2018-08-15 06:08] MartinPeris opened #778 "AMCL map_cell_t using much more memory than really needed"
The type [map_cell_t](https://github.com/ros-planning/navigation/blob/96955a8881d116297dc6663459b13942cef48409/amcl/include/amcl/map/map.h#L45) in AMCL is way bigger than it needs to be. This specially troublesome for embedded platforms with limited amount of RAM.

The structure contains basically two elements, _occ_state_ and _occ_distance_:

[code]
Assuming 32 bit ints and 64 bit doubles, this t

[2018-08-15 20:47] ziggBee30 commented on #776
I dont know of any way using which you can convert image_raw to point
cloud, if it was so them eventually you can have depth and which will clear
everything and make it all done easy.
i am using mono cam and just have access to image_raw, PCL will be
available using stereo cam and depth cameras.

On Mon, Aug 13, 2018 at 4:38 PM, David V. Lu!! <notifications@github.com>
wrote:

[2018-08-18 00:35] sabetAI opened #780 "move_base keeps repeating the same trajectory when stuck in costmap!"
I'm using move_base to navigate my jackal robot. Whenever it picks a trajectory, it ALWAYS picks curved paths that veer to close to the walls, causing it to get stuck in the wall's costmap. Then it inevitable tries to escape, but in the dumbest way possible: it back ups and repeats the same path without any rotation! How do I avoid this?

TrajectoryPlannerROS:

[code]

[2018-08-18 01:07] sabetAI opened #781 "Discouraging move_base planner's preference for long curved trajectories"
In tight hallway environments, move_base's planner **always** gets the robot stuck in the walls' costmap attempting silly smooth curved trajectories instead of choosing in-place rotations at appropriate place. When the robot gets stuck in a costmap, which it inevitably does, it doesn't attempt new trajectories. How can I fix this pathological behaviour?

[code]

[2018-08-20 16:53] DLu commented on #781
[Please do not double post your questions](https://answers.ros.org/question/300890/move_base-navigating-robot-to-close-to-costmap/)

[2018-08-20 16:53] #781 closed, assigned to nobody

[2018-08-20 16:58] DLu commented on #780
Duplicate of #781

[2018-08-20 16:58] #780 closed, assigned to nobody

[2018-08-26 19:04] ESDA-LAB commented on #380
just install `apt-get install libmove-base-msgs-dev`

[2018-08-26 19:04] ESDA-LAB commented on #483
just install `apt-get install libmove-base-msgs-dev`

[2018-08-29 14:37] ghost opened #782 "How to reduce the density of the generated global path?"
I would like to reduce the number of poses published in the move_base/Navfn/plan topic, which is sometimes a few thousands in my case.
Is there a way to configure this with params?
If no, can someone point me to the source code, where I might extend it?

Thank you very much!

[2018-08-29 14:47] DLu commented on #782
Please post questions like this on answers.ros.org in the future. The easiest way to reduce the number of poses is to reduce the resolution of your costmap. Other than that, I can't think of a direct way to simplify the path.

[2018-08-29 14:47] #782 closed, assigned to nobody

[2018-08-29 14:49] mikeferguson commented on #782
For the navfn planner, the publisher is located here: https://github.com/ros-planning/navigation/blob/melodic-devel/navfn/src/navfn_ros.cpp#L343 -- you could I suppose add some downsampling there (although the plan published might no longer be very true to the real plan)

[2018-08-29 14:54] ghost commented on #782
Thanks!

[2018-08-29 21:31] ghost opened #783 "Global costmap cleared from time to time"
The whole navigation stack breaks down every time the global costmap is cleared (and restored on the next publish interval).
![output_qeetm2](https://user-images.githubusercontent.com/90824/44816594-f66b8400-abe2-11e8-9cfb-6a7da338070d.gif)

I am on the branch kinetic:develop.
There is also a warning in the stdout from mapUpdateLoop
[code]
**Update**: Looks like this is related to this issue: http

[2018-08-30 02:08] ghost commented on #783
Looks like this did the trick:
https://github.com/mojovski/navigation/commit/8dd5f01633b9fb65ed2d04dfa02dba4781c914cb

[2018-08-30 02:08] #783 closed, assigned to nobody

[2018-08-30 03:30] chenxianbo opened #784 "exist numeric overflow problem in function "void AStarExpansion::add(....)""
[code]
when `neutral_cost_ == 50, costs[next_i] >= 206, costs[next_i] + neutral_cost_` will numeric overflow

[2018-09-05 09:27] ipa-fez opened #786 "Undefined reference in navfn library"
https://github.com/ros-planning/navigation/blob/c7bcd005fde62d3eaa2069b96f33ba4c472eadb8/navfn/include/navfn/navfn.h#L96

The function in the cpp file doesn't use a const COSTMAP* which means that the declaration and definition don't match up.

This produces a linker error if you try to use this function:
[code]

The const from the header is probably wrong, since the array will get modified.

[2018-09-05 14:20] Umsramu93 opened #787 "How to run this package?"
Hi all,
I am new to ROS.
So kindly guide me in running this package.
i would like to pass a map via map server. After the sensor data integration i would like to get the inflated local and global cost map.

My main focus is to work with local and global costmap.

Thanks.

[2018-09-05 18:44] DLu commented on #787
Hi. Please check out the documentation here: http://wiki.ros.org/navigation/Tutorials/RobotSetup
and in the future be sure to check out answers.ros.org

[2018-09-05 18:44] #787 closed, assigned to nobody

[2018-09-05 18:47] DLu commented on #786
For reference:
https://github.com/ros-planning/navigation/blob/c7bcd005fde62d3eaa2069b96f33ba4c472eadb8/navfn/src/navfn.cpp#L58

I'm not sure if the A* code actually works, so I would generally be wary of running it, but if you had a PR to fix the const issue I'd merge it.

[2018-09-06 07:17] ipa-fez commented on #786
https://github.com/ros-planning/navigation/pull/788 and #789

I ended up not using this function and am now using the NavFn class directly so I have no idea if the code works, but this should fix the signature mismatch.

[2018-09-07 00:16] #786 closed, assigned to nobody

[2018-09-07 00:16] mikeferguson commented on #786
Fixed in at least Melodic

[2018-09-07 00:17] mikeferguson commented on #778
PR certainly welcome

[2018-09-07 00:19] mikeferguson commented on #768
@jinder1s that does seem like an error, and you appear to have the correct fix -- please open a PR

[2018-09-07 02:19] MartinPeris commented on #778
PR added

[2018-09-09 15:22] PizzocaroSolomon commented on #635
@DLu  Probably 1 year later is too much but I have to ask.
Did you find a solution? I have the same problem.
Since now I've saved into a .txt file the data of the occupancy grid (created in MATLAB); I've wrote a node that takes this file and create the occupancyGrid msg and the service "static_map". As you can see is a long ride to get the job done but I wonder if there is a better solution...

[2018-09-10 15:06] mikeferguson commented on #635
I think this ticket was solely created from the discussion -- AFAIK, there is nobody actively working on a fix specifically for this. Separately, there is a ticket about changing the datatypes in AMCL -- https://github.com/ros-planning/navigation/issues/778 -- which also has an active PR -- https://github.com/ros-planning/navigation/pull/791 -- you might give that a try. (if you do try out that PR

[2018-09-10 17:07] SteveMacenski commented on #635
For a given application, I know plenty of companies that tile their maps and load only sections at a time that are relevant in order to help deal with this. It's also a common strategy used in 3D dense and sparse reconstruction due to the amount of data stored.

[2018-09-13 11:59] GMahmoud opened #793 "runBehaviour() in recovery and costmap update"
Hi guys,

I have worked recently on a rotate recovery behavior. So I tested your implemented plugin and I noticed that the the local costmap (obstacle layer only) is not updated when the behavior is running. This issue is caused by the ```while(n.ok()){ ... }``` loop running in the main thread.
In my opinion, it is better to create a new std::thread to start the recovery behaivor and to avoid bloc

[2018-09-15 16:49] mikeferguson commented on #793
That does seem reasonable -- my only concern would be if it introduces any race conditions (but from a quick look it appears that the recovery behavior does not alter the cost map, so I think we're OK).

[2018-09-17 08:57] sirawats opened #794 "move_base Warning: Invalid argument "/map" passed to canTransform argument target_frame"
### **ros melodic , ubuntu 18.04**
I do roslaunch move_base.launch then it doesn't work with repeat these warning
[code]
I have no idea what is cause this issue because I can run it on another PC and work well.
I didn't edit anything in Navigation package. Please help.
PS. amcl and slam gmapping is working fine.

so this is my .launch file
[code]